[2013-01-03 21:42] wvega opened #6 "Fatal error: Cannot redeclare class IPPCredential"
Hi everyone,

Loading the DoDirectPayment.html.php sample fails with a

[code]

I think the problem is that both `auth/PPSignatureCredential.php` and `auth/PPCertificateCredential.php` require `IPPCredential.php` instead of `auth/IPPCredential.php`.

It seems from the code that **PPCredentialManager** expects **IPPCredential** subclasses to have the `setThirdPartyAuthorization()` and `setThirdPart

[2013-01-04 15:32] #6 closed, assigned to ganeshx

[2013-02-06 02:45] kzap opened #11 "composer not yet online"
the packages are not yet on packagist?

[code]

[2013-02-07 07:02] #11 closed, assigned to nobody

[2013-02-20 22:21] rglastra opened #13 "cURL Warnings for DoDirectPayment sample"
Merchant PHP SDK 2.2.98 DoDirectPayment sample returns several warning and eventually fails to submit the request. It's returning the following errors when submitting the form in the DoDirectPayment sample:

PHP Warning:  curl_init() expects parameter 1 to be string, array given in /var/www/xxxxxxxx.net/public/merchant-sdk-php/samples/vendor/paypal/paypal-sdk-core-php-24d3b58/lib/PPHttpConnection.

[2013-02-20 22:25] rglastra opened #14 "Log location is unclear, leading to permission denied errors"
The log location is defined as ../PayPal.log in sdk_config.ini by default. Is ../PayPal.log supposed to be the parent directory of sdk_config.ini, or is another directory referenced?

merchant-sdk-php/PayPal.log still does not get written even with global write privileges applied, leading me to suspect it's looking for a different directory elsewhere.

Can you please include additional documentati

[2013-02-20 22:33] rglastra opened #15 "Fatal error on getNamespaces() in PPUtils.php when running the DoDirectPayment sample"
As per title. DoDirectPayment sample returns a fatal error on getNamespaces() when submitted.

PHP Fatal error:  Call to a member function getNamespaces() on a non-object in /var/www/xxxxxx.net/public/xxxxxxxxxx/merchant-sdk-php/samples/vendor/paypal/paypal-sdk-core-php-24d3b58/lib/PPUtils.php on line 85" while reading response header from upstream, client: 193.28.178.38, server: xxxxxxx.net, requ

[2013-03-27 09:19] eonghk opened #16 "The endpoint is wrong"
The $httpConfig->getUrl() always returns an array no matter what I set in the sdk_config.ini file. It should be a string.

[2013-03-28 06:41] #16 closed, assigned to nobody

[2013-04-03 04:39] kenjohnson opened #17 "Adding $PaymentDetails->ShippingTotal->value to $PaymentDetails causes this program to hang"
SDK 98, Express Checkout, PHP, Samples/DoDirectPayment

Look at file DoDirectPayment.php

**Problem**: Adding $PaymentDetails->ShippingTotal->value to
         to $PaymentDetails causes this program to hang
         at the following line.

[code]

**Problem2**: This same problem happens with $PaymentDetails->HandlingTotal->value

**Reproduce by**:
Go to the line

[code]

and then add this line aft

[2013-04-03 06:41] #17 closed, assigned to nobody

[2013-04-05 01:08] kenjohnson opened #18 "Express Checkout, set NoShipping = 1, ShipToAddress info gets lost."
I am using SDK 98, Express Checkout, PHP

**Problem**: When NoShipping =1, ShipToAddress info shows up in
SetExpressCheckout response, but that info does not get
carried over to be picked up by
GetExpressCheckoutDetails.

**Reproduce by**:

Goto  samples/ExpressCheckout/SetExpressCheckout.html.php

On that page, go to the section "Shipping information"

On the selection item labeled "Requires ship

[2013-04-05 21:43] kenjohnson opened #19 "ShippingDiscount and InsuranceTotal do not get carried to GetTransactionDetails object."
I am using SDK 98, Express Checkout, PHP

**problem**
 Set $paymentDetails->ShippingTotal and
     $paymentDetails->InsuranceTotal,  do a DoDirectPayment,
     grab the transaction id, and call getTransactionDetails. In getTransactionDetails response object, ShipDiscount and InsuranceAmount are not set.

**Reproduce by:**
step 1.
  go to samples/DirectPayment
  modify DoDirectPayment.php to add th

[2013-04-08 06:14] wuestkamp opened #20 "Not compatible with PHP 5.2"
Hey,

I don't think it is compatible (as described in the README) to use with PHP < 5.3.
Usage of "**DIR**" as well as global namespaces like '\Composer\Autoload\ClassLoader' which are features of >= 5.3.

Cheers,
Kim

[2013-04-09 12:30] #20 closed

[2013-04-13 20:34] t3chn0r opened #21 "Adding paypal/merchant-sdk-php via composer in Symfony2 project"
This is not an issue but a question.

I would like to use merchant-sdk-php in my Symfony2 project. I added the following line to my composer.json file:

[code]

I then ran a composer.phar update and composer installed the following 2 packages:

[code]

Looking at the examples I see that I might also have to add the following line to my composer.json file:

[code]

Is this required or is it optiona

[2013-04-15 10:52] #21 closed, assigned to nobody

[2013-04-16 12:11] #18 closed

[2013-05-03 18:16] arpi6 opened #22 "Got Http response code 500 when accessing https://api-3t.sandbox.paypal.com/2.0"
When trying to submit the form I get this issue all the time.
Type    PPConnectionException
Message Got Http response code 500 when accessing https://api-3t.sandbox.paypal.com/2.0.
Detail  Error connecting to https://api-3t.sandbox.paypal.com/2.0

[2013-05-14 00:51] virgofx opened #23 "The current tag v2.3.101 Does Not Include the Config Change"
The current v.2.3.101 tag does not include the capability for dynamic config as specified in the readme.

[2013-05-14 18:16] ghost opened #24 "php install.php curl 500 error on https://api.github.com/repos/paypal/merchant-sdk-php/zipball/v2.4.101"
running "php install.php" return a 500 error when trying to download:

https://api.github.com/repos/paypal/merchant-sdk-php/zipball/v2.4.101

[2013-05-15 05:02] #23 closed, assigned to nobody

[2013-06-04 00:15] bsatoris opened #27 "Incorrect README"
You indicate in the README:

Alternatively, dynamic configuration values can be set by passing a map of credential and config values (if config map is passed the config file is ignored)
<code>php
$config = array(
   'mode' =&gt; 'sandbox',
   'acct1.UserName' =&gt; 'jb-us-seller_api1.paypal.com',
   'acct1.Password' =&gt; 'WX4WTU3S8MY44S7F'
   .....
);
$service  = new PayPalAPIInterfaceServiceServ

[2013-06-04 00:39] #27 closed, assigned to nobody

[2013-06-05 17:52] #22 closed, assigned to ganeshx

[2013-06-10 06:02] #13 closed, assigned to ganeshx

[2013-06-10 06:05] #14 closed, assigned to ganeshx

[2013-06-10 06:06] #24 closed, assigned to ganeshx

[2013-06-10 06:25] #15 closed, assigned to ganeshx

[2013-08-03 14:13] RamyTalal opened #33 "Missing "UpdateRecurringPaymentsProfile.php""
Hello,

The "UpdateRecurringPaymentsProfile.php" file is missing from the `samples/RecurringPayments` directory.

[2013-08-21 12:20] #33 closed, assigned to ganeshx

[2013-08-23 13:15] RamyTalal opened #41 "Add "CreateBillingAgreement" example"
Add "CreateBillingAgreement.php" and "CreateBillingAgreement.html.php" examples to `samples/BillingAgreements`.

[2013-08-28 13:50] akashiyu opened #42 "composer install not working"
error on console
Loading composer repositories with package information
Installing dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for paypal/merchant-sdk-php dev-master -> satisfiable by paypal/merchant-sdk-php[dev-master].
    - Can only install one of: paypal/merchant-sdk-php[v2.5.106, dev-ma

[2013-08-28 14:00] #42 closed, assigned to nobody

[2013-09-06 22:00] localhost80 opened #43 "Fatal error: Call to undefined method stdClass::toXMLString()"
Hey guys I am getting this error when processing a direct recurring transaction

Fatal error: Call to undefined method stdClass::toXMLString() in /home/content/08/10639508/html/wp-content/plugins/donation-manager/library/vendor/paypal/paypal-sdk-core-php-bc7822a/lib/PPXmlMessage.php on line 89

[2013-09-08 01:45] #43 closed, assigned to nobody

[2013-09-10 12:58] jafferhaider opened #44 "Instant Update Callback URL not working in Live environment"
I'm using the current version of the SDK (2.5.106). PayPal's payment page successfully uses my Instant Update Callback URL to fetch and display shipping and tax amounts in the Sandbox environment. I have the Callback URL configured on HTTPS (certificate from GoDaddy).

As soon as I switch the following 4 values in the config:
- UserName
- Password
- Signature
- Mode

to 'Live' values, PayPal's che

[2013-10-14 06:51] sourabh0207 opened #46 "Warning: require(PPAutoloader.php)"
File not exists.

[2013-10-25 07:17] varun-octal opened #48 "Fatal error: Class 'RefundTransactionRequestType' not found in D:\xampp\htdocs\paypal\samples\PaymentSettlements\Refund.php on line 9"
Hello

I have downloaded the Sdk from github and dodirectpayment is working well, but when i try to refund i get this error i looked into the issue and this class is already present in "PayPalApiInterfaceService.php" but still it doesn't work. Please help me with this issue.

[2013-10-25 09:29] #48 closed, assigned to nobody

[2013-12-11 12:32] akashiyu opened #49 "Google app engine : Curl module is not available on this system"
I am using a php sdk and I get this error message "Curl module is not available on this system" on local dev_appserver, I found that there is no support for curl in app engine.
https://github.com/paypal/merchant-sdk-php/wiki/SDK-Configuration-Parameters
http.GoogleAppEngine=false is only for java apps so how am I support to use php sdk in app engine ?

[2013-12-18 06:17] ahc2483 opened #51 "Cannot update recurring payments profile Billing Period"
When using the code from the sample for UpdateRecurringPaymentsProfile to update the BillingPeriod details on an existing recurring payments profile, the updated BillingPeriod isn't actually persisted on the profile. Retrieving the recurring payments profile's details yields the previous BillingPeriod.

[2013-12-31 09:53] #44 closed, assigned to nobody

[2014-01-13 11:21] stepotronic opened #52 "Documentation of service functions throwing APIExceptions"
I could not find any occurrence in either the merchant sdk or in any other dependency. What does it refer to, or has it maybe been replaced?

KR,
Stepo

[2014-01-15 07:37] walfrido opened #53 "To be fixed"
In documentation is used $strtoupper as var insted strtoupper as a function.

[2014-01-24 19:25] #53 closed, assigned to nobody

[2014-01-24 19:26] #46 closed, assigned to nobody

[2014-02-01 12:30] ramonv opened #54 "small bug in DGsetExpressCheckout sample"
\samples\ExpressCheckout\DGsetExpressCheckout.php
line 103

$setECResponse = $PayPal_service->SetExpressCheckout($setECReq);
should be
$setECResponse = $paypalService->SetExpressCheckout($setECReq);

[2014-02-01 12:47] #54 closed, assigned to nobody

[2014-02-04 19:00] n4s-bill opened #55 "Calls to PPBaseService->call() missing mandatory parameter $handlers in PayPalAPIInterfaceServiceService"
Calls to PPBaseService->call() do not include the mandatory parameter $handlers in the class PayPalAPIInterfaceServiceService which extends PPBaseService.

[2014-02-11 17:32] AllenRbrts opened #56 "Version PayPal Core SDK - V1.5.0 has namespace references in 2 modules"
Trying to install the PHP 5.2 version and getting errors during install because of namespace references in two modules.
PHP Warning:  Unexpected character in input:  '\' (ASCII=92) state=1 in samples/install.php on line 340
PHP Warning:  Unexpected character in input:  '\' (ASCII=92) state=1 in samples/install.php on line 340

The offending modules and code are:
PPApiContext.php:

[2014-02-14 12:55] filipecs opened #57 "DoExpressCheckoutPayment returns PPXmlMessage Error"
Hi everyone.
I am implementing an express checkout solution with this sdk on php5.2.

I can get the token and the payerID but when I have to request "DoExpressCheckoutPayment" to confirm the payment the following message is given:

Fatal error: Call to undefined method stdClass::toXMLString() in /.../vendor/paypal/paypal-sdk-core-php-2ee73c7/lib/PPXmlMessage.php on line 96

Does someone have any i

[2014-02-14 14:43] #57 closed, assigned to nobody

[2014-02-23 14:50] Andy000 opened #58 "Unable to use the SDK"
Hi, I wanted to start using the SDK, installing it with install.php. Here I found the first issue: where is install.php? I didn't find it here https://github.com/paypal/merchant-sdk-php/tree/stable-php5.3, so used this one: https://github.com/paypal/merchant-sdk-php/blob/71850935a19437b913d08b0a59e445f50a53b489/samples/install.php

Then I followed the instructions and set up the composer.json and

[2014-03-03 16:21] #52 closed, assigned to nobody

[2014-03-13 18:41] chiragnirmal opened #60 "Feature Request: Branded Logo and Shipping Address Disable Entry"
Hello,

I am really confused here, I am implementing Paypal API for the first time. I have my code working for both Merchant and REST api. I need features of Express Checkout such as Branded Logo Image and Disabled shipping address entry.

The merchant SDK readme states that "This SDK is deprecated. It is strongly recommended that new implementations use the PHP Rest SDK". But the REST SDK/API doe

[2014-03-13 19:05] #60 closed, assigned to nobody

[2014-04-02 07:39] #58 closed, assigned to nobody

[2014-04-04 09:05] vafrcor opened #63 "Digital Good Express Checkout Sample Error"
I got an error like below:
<code>
Fatal error: Uncaught exception 'PPConfigurationException' with message 'Config file D:\Web-Project\xampp\htdocs\research\paypal\vendor\paypal\sdk-core-php\lib..\config\sdk_config.ini not found' in D:\Web-Project\xampp\htdocs\research\paypal\vendor\paypal\sdk-core-php\lib\PPConfigManager.php:47 Stack trace: #0 D:\Web-Project\xampp\htdocs\research\paypal\vendor\pay

[2014-05-28 23:49] rmevans1 opened #68 "Samples Not Working"
When I try to run the samples I get this error message:

Fatal error: Access to undeclared static property: PPBaseService::$SDK_NAME in /var/www/robertevansmb/paypal/vendor/paypal/merchant-sdk-php/samples/vendor/paypal/paypal-merchant-sdk-php-4f570f5/lib/services/PayPalAPIInterfaceService/PayPalAPIInterfaceServiceService.php on line 22

[2014-05-29 06:57] vchiren opened #69 "Vendor folder For merchant-sdk-php"
Hello support,

[code]

[2014-05-29 14:05] #55 closed, assigned to nobody

[2014-06-09 10:30] sndelhi3188 opened #70 "Refused to display https://www.paypal.com/au/cgi-bin' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN'"
Refused to display https://www.paypal.com/au/cgi-bin' in a frame because it set 'X-Frame-Options' to 'SAMEORIGIN',
Plz suggest for a alternate soluton.

[2014-06-11 19:01] whit1206 opened #71 "Problem with country field in shipping address for DoReferenceTransaction Sample"
In the BillingAgreements/DoReferenceTransaction.php file, if you have a country thats more than two letters, the sample will fail. Errors returned from paypal's server don't do a good job of mentioning this correctly so it took some testing to figure this out.

I would suggest that either the SDK return an error or that at least the sample list "US" instead of "USA" in the default field of the dem

[2014-07-01 07:07] newPOPE opened #72 "Typo in repository subtitle "Chechkout" vs "Checkout"."
Original subtitle: "PHP SDK for integrating with PayPal's Express Chechkout / MassPay / Web Payments Pro APIs"

Fixed subtitle: "PHP SDK for integrating with PayPal's Express Checkout / MassPay / Web Payments Pro APIs"

[2014-07-22 06:25] blocka opened #73 "Can't install with composer"
My composer.json:

[code]

Output from composer

[code]

[2014-07-31 17:36] minutiae opened #74 "Warning: Ambiguous class resolution in Composer"
When installing by composer ( have updated to the latest composer ), I receive dozens of the following Warnings:

Warning: Ambiguous class resolution, "PayPalAPIInterfaceServiceService" was found in both "/var/www/site.dev/vendor/paypal/merchant-sdk-php/lib/PayPalAPIInterfaceService/PayPalAPIInterfaceServiceService.php" and "/var/www/site.dev/vendor/paypal/merchant-sdk-php/lib/services/PayPalAPIIn

[2014-08-25 16:47] ojtibi opened #75 "Improvement Request: Add Errors for Missing Payer Objects"
Hi, I've been in touch with your technical support team (friendly and helpful, thank you) and I was writing code for the new REST API.

For end-user developers to understand quickly what's happening (and free up the PP MTS team's time to do more important tasks), I propose an additional error code under the formal error list returned by the API.

Whenever a call for "sale" that doesn't include a P

[2014-09-05 09:06] dotsquare-bharat opened #76 "Version issue error in installing SDK"
I am installing SDK dependencies using install.php for billing agreement api. I have downloaded merchant-sdk-php-master  for github.
Now I run samples/install.php and getting following error :-
composer not installed or 'useComposer' is set to false in install.php. Running custom installation ... error: invalid version tag in composer.json

My php version is 5.4.7.

[2014-10-02 08:36] ShindeSatish opened #77 "Get transaction details from pay-key"
I need to get transaction details from pay-key. Is there any method like PaymentDetailsRequest() in this SDK.

[2014-10-08 15:35] sachy123 opened #78 "Using namespaced library : PayPal"
I extracted the merchant sdk in my YII framework based application under the vendor folder

I also registered the root as path alias
E.g
Yii::setPathOfAlias('PaypalApi', Yii::getPathOfAlias('application.vendor.Paypalmerchant.lib.PayPalAPIInterfaceService'));

And my UserController has the following code
$paypalService=new PayPalApi\PayPalAPIInterfaceServiceService(Yii::app()->Paypal);
        $pay

[2014-10-08 17:25] sachy123 opened #79 "Paypal recurring payments"
On paypal website I am asked to download the merchant sdk
https://devtools-paypal.com/guide/recurring_payment_ec/php?env=sandbox
and I downloaded it from here https://github.com/paypal/merchant-sdk-php

but , when i run the $paypalService=new PayPalAPIInterfaceServiceService(Yii::app()->Paypal);
I got a lot of errors on missing files from the library e.g PPBaseService.php was missing the merchant

[2014-10-15 19:39] ipsod opened #80 "SSL3 wrong version number"
I get this error when trying to start a transaction:

PayPal\Exception\PPConnectionException error:1408F10B:SSL routines:SSL3_GET_RECORD:wrong version number

I think it's related to this pull request on the rest api:  https://github.com/paypal/rest-api-sdk-php/pull/127

[2014-10-15 20:08] #80 closed, assigned to nobody

[2014-10-21 15:09] thomask opened #81 "Latest release"
Hi, this repo's readme suggests requiring `v2.*`. However I am on `v3.8.106` which was suggested elsewhere. What is the "correct" latest version and if it is `2.*` instead of `3.*`, can someone explain why that is and what the differences are between these major releases?

Thanks!

[2014-10-30 12:46] Gaboris opened #83 "cURL error no. 0 while installing"
I get a weird error while trying to run the install.php from the sample folder.

When it tries to download the SDK from the GitHub link it returns a cURL error no. 0, but looking it up that's the code for "everything is okay" and that seems to be right since the error description is empty.

I don't have a command line access so I'm running the script through my browser.

The link: https://api.gith

[2014-11-04 17:32] #81 closed, assigned to nobody

[2014-11-04 17:33] #78 closed, assigned to nobody

[2014-11-04 17:36] #69 closed, assigned to nobody

[2014-11-07 17:20] #83 closed, assigned to nobody

[2014-11-10 17:46] #77 closed, assigned to nobody

[2014-11-10 17:47] #76 closed, assigned to nobody

[2014-11-10 17:52] #75 closed, assigned to nobody

[2014-11-10 17:58] #73 closed, assigned to nobody

[2014-11-10 18:00] #68 closed, assigned to nobody

[2014-11-10 18:01] #72 closed, assigned to nobody

[2014-11-10 18:03] #56 closed, assigned to nobody

[2014-11-10 18:25] #63 closed, assigned to nobody

[2014-11-17 06:20] umairali opened #84 "Laravel Issue"
I m trying to configure recurring payment here is my code i m using laravel and this is my model class. no error appear and no response.

<?php
use PayPal\CoreComponentTypes\BasicAmountType;
use PayPal\EBLBaseComponents\ActivationDetailsType;
use PayPal\EBLBaseComponents\AddressType;
use PayPal\EBLBaseComponents\BillingPeriodDetailsType;
use PayPal\EBLBaseComponents\CreateRecurringPaymentsProfileR

[2014-12-13 19:03] MavenSean opened #85 "PaymentAction does not work for Authorization/Order"
I have been integration PayPal Direct using the Merchant SDK.  When doing authorizations however, I set the PaymentAction to Authorization (I've tried Order) yet when DoDirectPayment is called with this action, the transaction is still going through with a PaymentAction of Sale.

I've spoken with PayPal Technical Services and we've sandboxed this to verify, and this is in fact what is happening.

[2014-12-16 15:49] #85 closed, assigned to nobody

[2015-01-05 17:45] #84 closed

[2015-01-15 19:24] MavenSean opened #86 "GetTransactionDetails and Reversed Transactions"
Prior to issuing a refund for a transaction, I am performing a GetTransactionDetails to ensure that the transaction has not already been refunded and is in either a Completed or Partialy-Refunded state.

When however a Reversed or Refunded status come up, I need to record the unique transaction id of the reversal transaction or refund transaction.

Is there a way to get the reversal or refund deta

[2015-01-16 15:58] osoria commented on #74
+1

[2015-01-16 22:22] MavenSean opened #87 "TaxAmount on RefundRequestTransactionType missing? Also calculated refund on response is very far off?"
I'm attempting to do an API refund on a transaction.  Full refunds are going through just fine, partial refunds periodically seem to fail.  It appears the culprit is such:

We issue a refund for an amount of 258.50 (This is the amount on the BasicAmount object.
We send the refund request to PayPal, and receive a response with the following breakdown:

NetRefundAmount: 251.01
FeeRefundAmount: 7.49

[2015-01-20 21:20] MavenSean commented on #87
Insight into this issue would be extremely helpful :)

[2015-01-20 22:38] jaypatel512 commented on #87
Hey @MavenSean ! Let me try to reproduce this in my machine, and get back to you. I will let you know as soon as possible, if I could find the root cause of this issue.

[2015-01-21 15:53] MavenSean commented on #87
Thanks Jay, much appreciated as I've been banging my head against a wall on this one. ;)

[2015-01-21 17:20] jaypatel512 commented on #87
Hey @MavenSean ! I just tried to reproduce the issue using samples. I was getting the same Total Refund as Gross Refund. Do you have a sample or code block that I could use to replicate this ?

Is this behavior intermittent ? or does this happen on any specific combination of amount ?

![screen shot 2015-01-21 at 11 19 06 am](https://cloud.githubusercontent.com/assets/1309895/5841051/8531c812-a15f

[2015-01-22 22:06] MavenSean commented on #87
This may not actually be an issue rather a lack of clarification on the documentation with the API. :)

The TotalRefundAmount reflects the amount refunded PERIOD.  So if you do a partial refund, then subsequently do another refund the TotalRefundAmount will reflect the amount refunded in the current refund PLUS the previous partial refund.

[2015-01-22 22:07] MavenSean commented on #87
Thank you for looking into this Jay

[2015-01-22 22:16] jaypatel512 commented on #87
AAaaah !! Got it now. So, lets say, you do $5 refund first, and then $250, the totalRefund would be $255 when it comes back. Agreed. Probably a lack of documentation. Adding something like "reflects total of all refunds done on this transaction" or something similar would help.

I will create a documentation issue, and see if they feel to add more information about this, however, feel free to re-o

[2015-01-22 22:16] #87 closed

[2015-01-24 09:24] david-fanin commented on #74
I have the same issue.

[2015-01-28 00:31] ricardo-lewis opened #88 "Sample triggers Fatal error: require(): Failed opening required 'PPAutoloader.php'"
This is in the file samples/ExpressCheckout/SetExpressCheckout.php using version 3.8.107.

There doesn't seem to be any PPAutoloader.php file included in the SDK?

[2015-02-03 13:45] cschramm80 commented on #74
Same here. Has anyone a solution on this?

[2015-02-08 18:22] jeff1985 opened #89 "Misleading usage of NotifyURL in SetExpressCheckout.php ExpressCheckout-Example"
I'm referring to the the documentation located here: https://developer.paypal.com/docs/classic/api/merchant/SetExpressCheckout_API_Operation_SOAP/

In the file samples/ExpressCheckout/SetExpressCheckout.php the parameter is set from the request data, which is wrong and misleading.

[code]

I also have verified, that setting NotifyURL only in SetExpressCheckout stage does not have any effect, the p

[2015-02-10 14:23] jeff1985 opened #90 "ExpressCheckout: optional parameter AllowNote will be lost, if set to integer 0"
The parameter AllowNote appears to be datatype sensitive.

The following code will NOT transfer any value for AllowNote in the SOAP message. In this case, "1" is the default value, so the user will be able to enter a note in the checkout process.

[code]

Only if the value is set to a string "0", the value will be transferred in the SOAP message and will work as intended. The effect will be, that

[2015-02-16 01:42] anil3a commented on #88
I also got the same error when loading sample files:

Fatal error: require(): Failed opening required 'PPAutoloader.php'  in merchant-sdk-php-3.8.107\samples\PPBootStrap.php on line 21

I saw the MASTER branch has the file but this release has no file included.

[2015-03-02 18:53] nsanden commented on #74
+1

[2015-03-21 06:36] seoungyu opened #91 "Uncaught exception 'PPConfigurationException'"
Hi,
I am pretty new to Paypal Paypal REST API and got this error:
[code]
My composer.json:
[code]
}
My php file:
[code]
Thank you,

[2015-03-21 06:54] jaypatel512 commented on #91
Can you please make sure if you have set `PP_CONFIG_PATH` properly. Just add this at the top of the location.

[code]

[2015-03-21 08:17] seoungyu commented on #91
$loader = require dirname(__DIR__) . '/vendor/autoload.php';
define("PP_CONFIG_PATH", __DIR__);

It still says config file not found with message 'Config file C:\Users\Felix\Documents\Unnamed Site 2\felixinca.com\modules/sdk_config.ini not found'

 Should I change the path manually?

[2015-03-21 09:27] seoungyu commented on #91
I think I am having issue with composer. It keeps saying “failed to open stream”.
I installed composer globally using installer.exe on windows and ran $ composer install.
Or maybe issues with XAMPP path setting....

[2015-03-21 20:39] seoungyu commented on #91
Okay so I ended up specify the path and now it seems working. i.e. define("PP_CONFIG_PATH", '..\vendor\paypal\sdk-core-php\tests');

[2015-03-21 21:04] jaypatel512 commented on #91
Btw, If you are trying to use [PayPal REST APIs](https://developer.paypal.com/webapps/developer/docs/api/), you might be looking for [PayPal-PHP-SDK for REST API](http://paypal.github.io/PayPal-PHP-SDK/).

However, if you are trying to use [Classic APIs](https://developer.paypal.com/webapps/developer/docs/classic/api/), you are in the right place.

[2015-03-21 21:04] #91 closed

[2015-03-24 07:31] felixdv commented on #74
Same here, using "paypal/merchant-sdk-php":"2.11.118".

[2015-03-29 14:09] kingkarki opened #92 "Customer name on paypal dashboard blank."
I am using this sdk to create recurring profiles. Everything works good but it shows subscriber name blank on paypal dashboard.
Please see the attachment for detail. Tomorrow is the deadline of my project so please help me to fix it asap.

Thanks,
Krishna

![screen shot 2015-03-29 at 7 53 13 pm](https://cloud.githubusercontent.com/assets/756162/6885967/44e4b7ce-d64d-11e4-86b6-9f70460de4d5.png)

![

[2015-04-14 22:51] yahya-uddin opened #93 "How to get user's name and email after a DG Good transaction?"
After a digital goods transaction, how do I retrieve the user's email and name?

[2015-04-16 18:58] talss89 commented on #79
We are experiencing this issue in v2.5.9 installed via composer. The issue occurs when running a lightly modified version of this example: http://paypal.github.io/PayPal-PHP-SDK/sample/doc/payments/CreatePaymentUsingPayPal.html

[2015-04-27 21:52] hjr3 commented on #41
@whit1206 :heart_eyes: thanks for writing this up

[2015-05-19 12:28] sujansh opened #94 "Fatal error: Uncaught exception 'PPConnectionException' with message 'Unknown cipher in list: TLSv1' in .../PPHttpConnection.php:91"
Getting above mentioned error on server today, it was working few days back and is still working on my localhost.. not sure, if I am missing something. I tried to search on this topic but couldn't get what exactly the issue is.

Detail error:

Fatal error: Uncaught exception 'PPConnectionException' with message 'Unknown cipher in list: TLSv1' in .../PPHttpConnection.php:91
Stack trace: #0 .../merc

[2015-05-19 14:07] jaypatel512 commented on #94
This issue was caused because of recent POODLE vulnerability found in SSLv3. This issue should have been surfaced by now.

Can you please make sure that you have TLSv1 installed in your server system. Please ask your hosting provider if that is supported.

[2015-05-20 11:54] sujansh commented on #94
yes I just confirmed with the support regarding TLSv1 in our server system. But I am still getting the same issue..

[2015-05-20 16:23] jaypatel512 commented on #94
Also, can you please make sure you have the version higher than 2.5.8 of paypal/sdk-core-php ?

[2015-05-21 07:34] sujansh commented on #94
ah I see what the issue was, my server was using the curl + NSS and as per this link: http://stackoverflow.com/questions/26882530/paypal-sdk-adaptive-payments-unknown-cipher-in-list-tlsv1 I tried commenting out the "CURLOPT_SSL_CIPHER_LIST" in the request. Which worked!!..

anyways, thank you for your time!

[2015-05-21 07:34] #94 closed

[2015-06-15 08:51] mjebrini opened #95 "SSL certificate problem: Invalid certificate chain"
Switching to live version failed, I am using composer with "paypal/merchant-sdk-php":"2.11.*"
I get his exception every time I try to do a payment:

SSL certificate problem: Invalid certificate chain paypal\sdk-core-php\lib\PPHttpConnection.php line 90

[code]

Am using PHP/OpenSSL/Curl

PHP cURL with NSS
PHP 5.5
Amazon web hosting service

The application used to fully work on the sandbox, switch

[2015-06-29 00:09] rtconner commented on #74
[code]

[2015-07-08 02:12] shakaran commented on #74
I came from Google, from this post https://blog.liplex.de/getting-rid-of-ambiguous-class-resolution-warnings/ that help me a lot for avoid this annoning warnings.

As the blog autor says this is produced because the example classes are includes in the distribution package. That should be referenced to original classes and avoid duplication.

There are a dirty workaround that the blog mention chang

[2015-08-06 14:04] rb-cohen opened #97 "Namespace conflict with buttonmanager-sdk-php"
Its not possible to use paypal/buttonmanager-sdk-php and paypal/merchant-sdk-php in the same project.

Both have a PayPal\Service\PayPal\APIInterfaceServiceService class, with different methods in it.

Any chance of forking these classes to their own class name/namespace?

[2015-08-26 21:58] klunejko commented on #74
still happening, installed using "paypal/merchant-sdk-php":"~2.5",

[2015-09-30 03:44] willy0275 opened #98 "Problem with namespaces since version 3.9.0"
Hello, I was using paypal/merchant-sdk-php (v3.8.107) and everyting was fine but when I did an composer update, I got paypal/merchant-sdk-php (v3.9.0) and paypal/sdk-core-php (v3.1.0) and suddenly I got the following error:

    PHP Fatal error:  Class 'PayPal\Core\PPXmlMessage' not found in /home/atuvu/public_html/paypal/vendor/paypal/merchant-sdk-php/lib/PayPal/EBLBaseComponents/PaymentDetailsTy

[2015-09-30 16:47] jaypatel512 commented on #98
Hey @willy0275 !

We realized the issue. We accidently made a release on non-namespaced branch of SDK Core. I have made another release with [v3.2.0](https://github.com/paypal/sdk-core-php/releases/tag/v3.2.0), with correct namespace. You should be able to resolve those issues now :)

Thanks for letting us know.

[2015-09-30 16:47] #98 closed

[2015-09-30 16:52] willy0275 commented on #98
Thank you, I was pulling my non existent hair out for a while last night
until I realized it was a namespace problem.

Guillaume

On 15-09-30 12:48 PM, Jay wrote:

[2015-09-30 16:56] jaypatel512 commented on #98
Sorry for the confusion. Automation had its own flaw :+1:, and we just hit one ! :+1:

Recently, we made some changes to remove the non-namespaced PHP Core libraries, as we wish to move all merchants to use PHP 5.3 or higher, considering many security fixes that comes in newer versions of PHP.

Thanks for letting us know. Helped save a lot of people's time ! Appreciated.

[2015-10-07 07:38] ArchitW opened #99 "Invalid billing period , Frequency and Bill amount"
I am trying to create recurring profile but keep on getting this issues . Monthly US $10 for a year.

Code directly taken from "CreateRecurringPaymentsProfile.php"

$currencyCode = "USD";
$billingStartDate =  date("Y-m-d\TH:i:s\Z");
$subscriberName = "Name";// Session var
$token = "" ; //
$amount = "10.00"

$RPProfileDetails = new RecurringPaymentsProfileDetailsType();
$RPProfileDetails->Subscribe

[2015-11-12 09:10] nicomollet commented on #97
Same here, the two SDK have different functions useful for my project.

[2016-02-10 07:16] nathanwelch opened #101 "New ExpressCheckout token errors when using permissions API"
## Question
Has anything changed recently for EC when using a 3rd party's token obtained through the permissions API which would cause error code 10409?

## Background
We use the Permissions API to connect other people's PayPal accounts to our app and then we process ExpressCheckout transactions on our site so the connected account receives the funds directly. We've been doing this approach for ab

[2016-02-10 14:52] pp-randy commented on #101
@nathanwelch To me this error would indicate that the permission token wasn't picked up in the DoExpressCheckout call, but that wouldn't make sense if your integration hasn't changed. Can you provide a correlation id from an API response and I will try to track down whats going on?

Since this is payment impacting can you also reach out to PayPal Technical Support here: https://www.paypal-techsupp

[2016-02-10 15:06] nathanwelch commented on #101
@pp-randy Thanks for the info and quick reply. Here's a correlation ID from a request I just made with an account that is in good standing: 53990bebaed1d

[2016-02-10 15:11] nathanwelch commented on #101
Also Randy, if no API version is specified in an API call, does it default to the latest one or does it default to the oldest supported version? If it defaults to an older, but still supported, version, is it possible that an old API version that we were inadvertently using was fully deprecated recently which would have forced us to a new version?

[2016-02-10 15:22] pp-randy commented on #101
@nathanwelch the version is showing 106 which should be fine for permissions.  Did you get that Technical Support ticket created?  I don't see anything standing out, the permission relationship looks ok to me.

[2016-02-10 15:30] nathanwelch commented on #101
I created it just now: 160210-000166. I can try with a newer version of the API and see what happens.

Would it be useful to see correlation IDs from requests at every step of the EC process to see if something actually is changing there?

[2016-02-10 15:56] nathanwelch commented on #101
Also @pp-randy would it be possible for us to get in a chat or call with someone technical to get some other info/ideas?

I went ahead and got correlation IDs for the other steps of the process:
 - SetExpressCheckout: `bda44b33add4f`
 - GetExpressCheckoutDetails - `2509ad0d5f1f7`
 - DoExpressCheckoutPayment - `58be5f08be5a5`

Thanks again for your help!

[2016-02-10 16:30] pp-randy commented on #101
@nathanwelch from talking to Technical Support they are seeing other contacts on this and are already looking into this issue.

[2016-02-10 17:55] shantanut commented on #101
@pp-randy is there an estimate on when this will be resolved?  PayPal is currently broken across our platform.

[2016-02-11 14:45] pp-randy commented on #101
@nathanwelch the issue should have been resolved around 11 PM PST last night.  Is everything back up and running?

@shantanut is everything working for you now?

[2016-02-11 16:43] nathanwelch commented on #101
Yes @pp-randy everything is working for us now. Thank you for your help! It seems like the delay in this case was because the engineers working on the fix were in a different timezone from the support staff handling the issues. It's possible that we could have gotten a faster resolution if we had made a support ticket immediately upon seeing the issue (even before we did several hours of our own i

[2016-02-11 19:46] pp-randy commented on #101
PayPal Technical Support is the best escalation path; especially, with an issue like this when you haven't changed your integration.  Correlation IDs are great to include and will usually speed up the resolution so the engineer can track down your issue quicker.

[2016-02-11 19:46] #101 closed

[2016-02-26 10:44] kzap commented on #86
do a TransactionSearch with TransactionID set to the Parent/Original Transaction ID
and it will return reversed and refunded transactions related to that one.

just note there are quirks where the Search results will have different transaction status or type than the actual GetTransactionDetails Result, its very annoying

[2016-02-26 17:03] pp-randy commented on #86
Thank you for providing an answer for this issue @kzap.

[2016-02-26 17:03] #86 closed

[2016-03-02 19:08] alibeans opened #102 "be lack of PPAutoloader.php in file PPBootStrap.php, which result fatal error"
be lack of PPAutoloader.php in file PPBootStrap.php, which result fatal error
path: samples/PPBootStrap.php

[2016-03-28 02:18] kevinn13 opened #104 "Subscription Id not passed"
there is an issue with subscription id numbers not being passed by get transaction details. They just appear blank this is intermittent and works when it wants to.

[2016-03-30 10:07] brickgale commented on #95
Encountered the same bug when mode is in "sandbox". "live" is okay.

[2016-04-04 07:06] brickgale commented on #95
fixed my bug on ssl certificate problem. i just override or manually changed the config for `CURLOPT_SSLVERSION` on `PPHttpConfig.php` to 6 so that it will be set to TLSv1.2 since sandbox currently requires it.

`\PayPal\Core\PPHttpConfig::$DEFAULT_CURL_OPTS[CURLOPT_SSLVERSION] = 6;`

[2016-04-04 08:55] GhaziTriki opened #105 "CreateRecurringPaymentsProfile example not working on production"
Hi,

I had some issues to implement CreateRecurringPaymentsProfile in production because the example for sandbox is incomplete, mandatory fileds for the credit card were missing. Do you accept a pull request containing the update?

[2016-04-06 13:39] pp-randy commented on #104
Is this on live or sandbox?  Would you be able to provide a correlation id from one of the responses that had the missing information?

[2016-04-06 13:43] pp-randy commented on #95
@mjebrini was the comment from @brickgale able to help you resolve your issue as well?

[2016-04-06 15:53] pp-randy commented on #105
Yes please submit a pull request so it can be reviewed.

[2016-04-08 18:03] kevinn13 commented on #104
hi randy

Thanks for your reply its been like this for over a month it works intermittently on live version sandbox seems ok, but it seems to have got worse the last week. There is a thread on stack about it also http://stackoverflow.com/questions/36167635/paypal-api-nvp-response-for-gettransactiondetails-missing-subscription-id

Here is my response code hope its what you needed if not let me know

[2016-04-12 13:49] pp-randy commented on #104
For internal tracking PPPLMER-13093

[2016-05-02 20:12] GhaziTriki commented on #105
I just got an answer from PayPal support few days ago. I will provide a pull request as soon as I can.

[2016-05-04 21:44] pp-randy commented on #104
Additional internal tracking id PPPLCONSMR-32170

[2016-05-19 14:21] pp-randy commented on #104
@kevinn13 a fix for this issue should have been pushed yesterday.  Would you be able to review to see if you are getting the expected results?

[2016-05-19 21:15] kevinn13 commented on #104
Hi Randy

Can report it all seems to be working ok again.

Thanks for fixing

[2016-05-20 14:34] #104 closed

[2016-05-27 11:36] walshy002000 commented on #79
This is still happening on 3.3.0

[2016-05-27 15:44] jaypatel512 commented on #79
Hey @talss89 !

The sample that you are trying to do, should not be using this SDK. Please use https://github.com/paypal/PayPal-PHP-SDK for the given sample.

[2016-06-08 06:22] sharmavikram opened #106 "DPRP is disabled for this merchant PayPal sandbox"
**XML Request**

`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:cc="urn:ebay:apis:CoreComponentTypes" xmlns:ed="urn:ebay:apis:EnhancedDataTypes" ><soapenv:Header><ns:RequesterCredentials><ebl:Credentials><ebl:Username>tpcgsocial3.0-facilitator_api1.gmail.com</ebl:Username><ebl:Password

[2016-06-08 06:53] robglas commented on #106
You'll want to get in touch with PayPal Sales or Customer Service to request this feature to be enabled for you. Mention that you're looking to get "Direct Payment - Recurring Payments" enabled.
Or if you have an account manager assigned to you, contact them.

[2016-06-09 12:40] sharmavikram commented on #106
Hello Robert,

Thanks for your reply. But reaching out to Paypal support for this particular request seems to be an herculean task. The Sandbox "Help" , "Support" does not allow us to send across the message. Even tried calling to the customer care number but the guy choice to remain silent till the call got disconnected.

Really Disappointed!

Please guide me the best way to make Paypal listen to

[2016-06-09 13:52] pp-randy commented on #106
@sharmavikram Recurring Payments should already be enabled, I am looking into this and will update you when I have more information.

[2016-06-09 14:02] pp-randy commented on #106
@sharmavikram can you run another test to see if this is enabled in your sandbox account now?

[2016-06-09 14:13] sharmavikram commented on #106
I have test in two sandbox paypal merchant account

[2016-06-09 14:31] pp-randy commented on #106
I looked at the account the error was for that you provided.  Is DPRP enabled now or do you still get an error?

Just to be sure can you provide the email addresses of both of your merchant accounts in sandbox?

[2016-06-10 05:27] sharmavikram commented on #106
Thanks Robert for your help.Deeply appreciate it.Now, I can successfully complete my recurring transaction.
However, if you can educate me on how you rectified it so that I can learn to manage this error myself if it happens in future.

Regards,
Vikram

[2016-06-10 13:10] sharmavikram commented on #106
Hello @pp-randy
I have sets of issue related to my recurring payment.

1. My US sandbox merchant account is working properly now but my Singapore sandbox merchant account is not getting upgraded to pro a/c now Below is the screenshot.
![git](https://cloud.githubusercontent.com/assets/8896308/15964615/0fe965d0-2f37-11e6-8823-cebf80dedd26.png)

2. My Hongkong sandbox merchant(PRO) account has the sa

[2016-06-10 14:03] pp-randy commented on #106
Please see the PayPal Product Matrix here: https://developer.paypal.com/docs/classic/howto_product_matrix/
Indicates Websites Payments Pro is available in US, UK, and Canada.

[2016-06-10 14:16] sharmavikram commented on #106
@pp-randy Thanks for sharing the link. My objective is to  except recurring via express checkout (Classic API) and Credit card( REST API) in following countries
Singapore, Malaysia, Taiwan, Hongkong and China in there local currency respectively (except China)

Can you please suggest me how can i achieve my objective using  Paypal.

Thanks in advanc
Vikram

[2016-06-10 14:59] pp-randy commented on #106
Hi @sharmavikram,

This question might be better answered by the PayPal Sales Team.

[2016-06-11 13:10] sharmavikram commented on #106
Hello @pp-randy
i wrote message to PayPal Sales Team. please can you enable sandbox merchant Bussiness account "tpcgmerchant@gmail.com" to "Business Pro account"

Thanks
Vikram

[2016-06-13 14:47] pp-randy commented on #106
Can you try to toggle Pro again for this account?

[2016-06-20 09:58] speller opened #107 "Unsupported SSL protocol version error"
### Required Information

- PHP Version: 5.6.16 with following relevant configs:
Registered Stream Socket Transports: tcp, udp, unix, udg, ssl, sslv3, tls, tlsv1.0, tlsv1.1, tlsv1.2
cURL Information: 7.44.0
SSL Version: OpenSSL/1.0.1t

- SDK Version: 3.9.1

### Issue Description
Receive the error "Unsupported SSL protocol version" when running under live configuration. The issue is in CURL config.

[2016-06-21 21:38] #106 closed

[2016-06-23 03:53] ppmtscory commented on #107
We'll have somebody take a look and get back to you here.

[2016-06-23 17:08] jaypatel512 commented on #107
Hey @speller !

I wanted to confirm with you that the openssl version you have mentioned is the one you see in your curl, and not by running `openssl version` on a command line. PHP curl library has its own set of openssl library which is different from openssl.so module that you package along with php.

To find out the proper details of what version of openssl your curl is using, you may want to

[2016-07-02 22:00] krewmarco commented on #68
Are you using Docker?  I found this helpful:
https://github.com/docker-library/php/issues/133

[2016-07-13 15:19] jaypatel512 commented on #107
Closing this issue. For any TLS issues, please refer to https://github.com/paypal/TLS-update repository. We are adding more and more details for each language.

[2016-07-13 15:19] #107 closed

[2016-07-13 15:19] jaypatel512 commented on #95
Closing this issue based on inactivity. Please re-open if you are still facing this issue.

[2016-07-13 15:19] #95 closed

[2016-07-13 15:21] jaypatel512 commented on #70
This question does not seem to be related to Merchant SDK. Please re-open this issue, and please add more information if possible for further assistance.

[2016-07-13 15:21] #70 closed

[2016-07-13 15:21] jaypatel512 commented on #74
This issue should have been resolved now. We encourage you to use the latest release.

[2016-07-13 15:21] #74 closed

[2016-07-13 15:23] jaypatel512 commented on #88
PPAutoloader file is generated by `install.php`. this is an alternate way of installing all the dependencies. Our recommended option would be to use composer for any dependency management, which should remove your need for PPAutoloader.php.

[2016-07-13 15:23] #88 closed

[2016-07-13 15:23] jaypatel512 commented on #102
PPAutoloader file is generated by install.php. this is an alternate way of installing all the dependencies. Our recommended option would be to use composer for any dependency management, which should remove your need for PPAutoloader.php.

[2016-07-13 15:23] #102 closed

[2016-07-25 22:18] vbresults opened #112 "Namespace conflict with other PHP SDK's"
Please change the root namespace to `PayPal\Merchant` (a la ZF) so it does not conflict with other SDK's, otherwise we can't use these two alongside each other without headaches...

See #97.  Refactoring the `PayPalAPI` folder into `API` would be nice too (not necessary)... can submit PR for one or both suggestions if necessary.

Before: `PayPal\PayPalAPI\AddressVerifyReq` After: `PayPal\Merchant\

[2016-07-25 22:32] jaypatel512 commented on #112
Hey @vbresults !

The issue is with the existing integrations. This will cause the previous integrations to fail, unless we make a major release for this. We would be more than happy to accept a PR for this.

thank you again @vbresults for helping us with this. We may be able to make the naming convention consistent across all classic SDKs too. But that could be for later.

[2016-07-25 22:38] vbresults commented on #112
@jaypatel512 Implementing this and deploying it can be considered two separate tasks -- so if we make a new branch, call it PSR-4, and make it available, it won't disturb `2.x` and `master`.

In the meantime, it can get battle-tested as there are surely lots of people out there looking for this, and when the time is right, then we can discuss a full-out release.  Thoughts?

[2016-07-25 22:39] jaypatel512 commented on #112
I completely agree. I will discuss with the team tomorrow, and see what their thoughts are on prioritizing this, and get it released soon. Let the PRs begin 🎆

[2016-07-26 07:57] vbresults commented on #112
@jaypatel512 Submitted PR's for this repo (#113) as well as the REST API and Core repos, and am using them simultaneously with success (:

[2016-07-26 16:32] jaypatel512 commented on #112
You should not have any conflicts with the [PayPal-PHP-SDK for REST](https://github.com/paypal/PayPal-PHP-SDK) at all. I don't think we need to update the namespaces for REST PHP SDK.

[2016-07-26 23:10] vbresults commented on #112
@jaypatel512 Doesn't make sense to mix the REST folders with full-blown sdk's (i.e. Merchant SDK) -- it would add confusion instead of making things more uniform, hence the REST namespace update.

[2016-07-28 17:44] KelseySheely opened #114 "DoReferenceTransaction bug"
We are getting a 500 any time we try to run a DoReferenceTransaction call to the PayPal sandbox.  I have a ticket in with PayPal but they have not yet found anything and are frankly not being very responsive.  I've tried using both the Billing Agreement ID and the Original Payment Transaction ID as the ReferenceId with the same results.  Here is a log of the error:

`PayPal\Exception\PPConnectionE

[2016-07-28 19:27] jaypatel512 commented on #112
PRs related to this issue:

- https://github.com/paypal/PayPal-PHP-SDK/pull/614
- https://github.com/paypal/sdk-core-php/pull/82
- https://github.com/paypal/merchant-sdk-php/pull/113

[2016-07-29 11:32] xyph opened #115 "DoExpressCheckoutPaymentRequestDetailsType requires public property $Version"
\PayPal\EBLBaseComponents\DoExpressCheckoutPaymentRequestDetailsType requires, but doesn't have the public property $Version.

Without it, calling PayPal\Service\PayPalAPIInterfaceServiceService::DoExpressCheckoutPayment will throw Property PayPal\EBLBaseComponents\DoExpressCheckoutPaymentRequestDetailsType::$Version does not exist (/var/www/site/vendor/paypal/sdk-core-php/lib/PayPal/Core/PPUtils.

[2016-08-01 22:18] pp-randy commented on #114
It looks like the Method name being picked up as DoReferenceTransactionRequestDetails instead of DoReferenceTransaction.

Are you setting the request object like this sample? https://github.com/paypal/merchant-sdk-php/blob/master/samples/BillingAgreements/DoReferenceTransaction.php#L119

[2016-08-01 23:06] KelseySheely commented on #114
Thanks Randy,

I did in fact have the last method name set to DoReferenceTransactionRequestType rather than DoReferenceTransactionReq.  Thanks, I was banging my head against the wall on that one.  However, now that I fixed that I am getting a version error:

[code]
Any additional thoughts about that?

[2016-08-01 23:49] KelseySheely commented on #114
I got it figured out.  Thanks again for the help.

My problem was that I was trying to pass the DoReferenceTransactionRequestType object to the constructor of the DoReferenceTransactionReq object, but it looks like it does not accept that as a parameter.

[2016-08-01 23:49] #114 closed

[2016-08-02 15:24] jaypatel512 commented on #115
Hey @xyph !

Thanks for helping us out there. Would you mind creating a tiny PR for this ? We love PRs 👍

[2016-08-08 06:24] gswebspace opened #116 "Using newer API Version ?"
Hi,

Going through the code at [/lib/PayPal/Service/PayPalAPIInterfaceServiceService.php](https://github.com/paypal/merchant-sdk-php/blob/master/lib/PayPal/Service/PayPalAPIInterfaceServiceService.php#L117) I see that the SDK uses the $SERVICE_VERSION as "106.0" but reviewing the [API Version History](https://developer.paypal.com/docs/classic/release-notes/#ec) I see that Version 106 was released

[2016-08-10 06:57] rayfly commented on #116
I also have this problem.
Could I use version 104.0 ?
What is the different ?
Would it make error because I see the version is 204 now ?
Thank you ~

[2016-08-10 18:52] pp-randy commented on #116
@gswebspace for a fresh integration you should look at https://github.com/paypal/PayPal-PHP-SDK, and use PayPal as the payment method, which is the same as doing an Express Checkout with this SDK.

[2016-08-10 18:55] pp-randy commented on #116
@rayfly you can use 104.0.  PayPal tries to introduce changes with new API versions and not break existing API versions, so 204 has some fields and or methods not available on 104.

[2016-08-10 19:05] pp-randy commented on #116
After discussing with the development team, using 204 with the SDK should not cause an issue though.

[2016-08-10 19:15] pp-randy commented on #116
@gswebspace you would have to change it in the code.

[2016-08-10 19:15] #116 closed

[2016-08-19 22:47] irwing-reza opened #117 "Warning: Ambiguous class resolution, "PayPal\Auth\OAuthTokenCredential" was found in both"
Generating optimized autoload files
Warning: Ambiguous class resolution, "PayPal\Auth\OAuthTokenCredential" was found in both "vendor/paypal/sdk-core-php/lib/PayPal/Auth/OAuthTokenCredential.php" and "vendor/paypal/rest-api-sdk-php/lib/PayPal/Auth/OAuthTokenCredential.php", the first will be used.
Warning: Ambiguous class resolution, "PayPal\Rest\ApiContext" was found in both "vendor/paypal/sdk-co

[2016-08-19 23:32] jaypatel512 commented on #117
Duplicate of https://github.com/paypal/sdk-core-php/issues/85

[2016-08-19 23:32] #117 closed

[2016-08-22 04:04] OptrixAU opened #118 "Installation Without Composer"
My hosting provider - one of Australias largest - doesn't support either SSH access or Composer via CPanel, which means there is no way to install the package.

The package **does** include what appears to be an installer of some kind, but it's contained in the _samples_ rather than the base library, and there is no information about how its used (and some searching would indicate that it's deprec

[2016-08-22 18:43] jaypatel512 commented on #118
You can run `composer` in your desktop/laptop, and upload the final build via FTP. This should allow you to upload all the files inside `vendor` directory auto generated to hold all these composer based files.

[2016-08-22 18:43] #118 closed

[2016-08-25 17:23] Prento956 commented on #118
@jaypatel512 Im kinda new this whole app creation, taught myself php and decided to learn android/ios app creation. Question how do i compile this app, and what do i need https://github.com/paypal/PayPal-Android-SDK

[2016-09-27 21:03] sachy123 opened #119 "PreapprovalDetailsResponse Object returns empty"
So I am now testing if the preapproval response can give me actual status for the Preapproval Key.
I fed the PreapprovalDetailsRequest Object with the appropriate preApprovalKey.
But in response, I am getting everything empty. as you can see below

Is this a bug in PreapprovalDetailsRequest.php?

[code]
-----------------------
`
PreapprovalDetailsResponse Object ( [responseEnvelope] => [approved]

[2016-09-28 13:42] pp-randy commented on #119
The preapproval key does not validate for my lookup. Do you have the correlation ID of the request that generated the pre approval key?

For the failed lookup are you able to log the SOAP response?

[2016-09-28 13:44] pp-randy commented on #119
Are you using this SDK https://github.com/paypal/adaptivepayments-sdk-php?

[2016-09-28 13:47] sachy123 commented on #119
No
The first step is that I retrieve the preapproval key. Then I use that preapproval key for getting pre approval from the sender.
Once that is done I want to see the details e.g. if the pre approval was canceled or accepted.
So I use the PreapprovalDetails.php

[2016-09-28 13:47] sachy123 commented on #119
Yes I am using that sdk

[2016-09-28 13:55] pp-randy commented on #119
The preapproval key is too long, it should be only 20 characters which is why I couldn't look it up.  I need more information about how you are generating the actual preapproval key, so the request you are sending to /AdaptivePayments/Preapproval endpoint.

[2016-09-28 13:59] sachy123 commented on #119
You can't get other details because thats the application configuration. However preapproval I'd is exact.
I am not sure why response object gives me an empty results
I expect it to fetch all the information for that pre approval

[2016-09-28 14:11] pp-randy commented on #119
Is this happening in production?  If so, can you create a ticket with PayPal Technical Support here: https://www.paypal-techsupport.com/app/ask

If this is happening in sandbox can you give anything more than [preapprovalKey] => PA-94C106ddd1231931052V ?  Your sandbox account or any correlation_id value from an API response?

[2016-09-28 14:16] sachy123 commented on #119
Ah no its sandbox .

[2016-09-28 14:17] sachy123 commented on #119
What is a correlation_id ?
How can I get it ?

[2016-09-28 14:31] pp-randy commented on #119
It should be a value in the API response.  The wiki has some details about turning on logging https://github.com/paypal/sdk-core-php/wiki/Configuring-the-SDK#logging

[2016-09-28 14:46] sachy123 commented on #119
Ok I will try to get it. Hope it helps. Although it's not mentioned in the samples anywhere. It says I have to feed Pre Approval ID with correct configuration and it will get details of preapproval

[2016-09-28 20:28] sachy123 commented on #119
it didnt work
its showing me again empty object and I followed exactly the same process as described by Paypal in the link below
**Step 3: Retrieve Data about the Preapproval (Optional)**
[See Step 3 ](https://developer.paypal.com/docs/classic/adaptive-payments/ht_ap-basicPreapproval-curl-etc/)
please note the input parameters
Input Parameters
----------------
_preapprovalKey=PA-5PU68213WY5961234

[2016-09-28 21:18] sachy123 commented on #119
Can someone give me a WORKING example of Getting PreapprovalDetailsRequest

[2016-09-29 17:18] pp-randy commented on #119
The Sample in the Adaptive Repo is working for me:
https://github.com/paypal/adaptivepayments-sdk-php/blob/master/samples/PreapprovalDetails.php
Which Posts to
https://github.com/paypal/adaptivepayments-sdk-php/blob/master/samples/PreapprovalDetailsReceipt.php

[2016-09-29 20:04] sachy123 commented on #119
Yes but can you please paste a sample of the response object
which is output of the following code?

[code]

[2016-09-30 13:51] zerolfc opened #120 "Express Checkout Parallel Payment"
This issue seems just appeared lately as it worked fine before.
I am not sure whats missing in the code.

If i set as a single digital payment, it works fine, only on paralel seems stucks `DoExpressCheckoutPayment`

I keep getting an error:

[code]

Full code: http://pastebin.com/hA2LzyUH

[2016-10-03 10:08] sachy123 commented on #119
@pp_randy can you please paste the output of the response below.
Thanks
Sachy

[2016-10-03 14:03] pp-randy commented on #119
I will capture a response for you and update shortly.

The following guide does not have the PreapprovalDetails API call but may be beneficial to you for the others https://devtools-paypal.com/guide/ap_preapprove_payment/php?interactive=ON&env=sandbox

[2016-10-03 14:07] pp-randy commented on #119
This is the preapproval provided in the samples but it works for a newer one as well.
[code]

[2016-10-03 14:11] sachy123 commented on #119
ThIs is strange because I am trying to capture the response object .. but it's just  empty !!! I don't know what is wrong.

[2016-10-03 14:12] pp-randy commented on #119
Your other API calls are working correctly?

[2016-10-03 14:17] sachy123 commented on #119
Yep . I get the Pre approval via api calls. I store the preapprovalkey  and use that preapprovalkey to create a url to redirect the user to aquire a preapproval.
But now i am just stuck to get the status of preapproval to know from an application if the user accepted or cancelled

[2016-10-03 14:21] pp-randy commented on #119
Can you see if for some reason an exception is being thrown?
https://github.com/paypal/adaptivepayments-sdk-php/blob/master/samples/PreapprovalDetailsReceipt.php#L28-L35

[2016-10-03 14:37] sachy123 commented on #119
I checked but there were no exceptions. In anycase I will check it again.  And try to post my code and the structure

[2016-10-03 14:42] pp-randy commented on #120
@zerolfc can you reach out to PayPal Technical Support on this error https://www.paypal-techsupport.com/app/ask

It looks like a system issue at this time.

[2016-10-04 03:06] #120 closed

[2016-10-04 22:26] techpulse opened #122 "how to pay?"
hi

can anyone give me a example code on how i can send money to someone?

[2016-10-05 01:50] #122 closed

[2016-10-07 10:18] sachy123 commented on #119
[code]

[2016-10-07 10:20] sachy123 commented on #119
[code]

[2016-10-07 10:21] sachy123 commented on #119
please let me know if I am wrong anywhere? or if you get the details using the configuration above?

[2016-10-07 10:23] sachy123 commented on #119
`$preapprovalDetailsRequest->preapprovalKey = "PA-94C1061231931052V";`

[2016-10-07 11:48] sachy123 commented on #119
I am using Yii MVC architecture

[2016-10-07 13:15] sachy123 commented on #119
So finally I got something but there is an error as below
`
responseEnvelope.timestamp=2016-10-07T06%3A14%3A34.045-07%3A00&responseEnvelope.ack=Failure&responseEnvelope.correlationId=a10247cdec54a&responseEnvelope.build=25712129&error(0).errorId=580022&error(0).domain=PLATFORM&error(0).subdomain=Application&error(0).severity=Error&error(0).category=Application&error(0).message=Invalid+request+para

[2016-10-07 13:57] pp-randy commented on #119
The error indicates the requestEnvelope is incorrect.  What does your code look like for creating the request?  It should look similar to this
https://github.com/paypal/adaptivepayments-sdk-php/blob/master/samples/PaymentDetailsReceipt.php#L17-L23

[2016-10-07 14:01] sachy123 commented on #119
I solved it!!!
Thanks PP_Randy for your patience

[2016-10-07 14:01] #119 closed

[2016-10-19 16:23] jaypatel512 commented on #49
Closing this issue based on inactivity. Please re-open if you are still facing this issue.

[2016-10-19 16:23] #49 closed

[2016-10-25 07:18] hasinoorit opened #123 "Working in sandbox mode, but not working with live."
Hi.
My SDK is working fine with sandbox. but not working with live version.
my sdk version 3.9.1 , php  version 5.6 . hosted on godaddy, SSL installed. It is not getting access token.

[2016-10-25 12:37] Mahesh-xpertech commented on #105
Hi,
I have problem with CreateRecurringPaymentsProfile with credit card details.I am using sandbox mode.

[2016-10-25 13:30] pp-randy commented on #105
@Mahesh-xpertech can you provide the error response? Ensure you provide the correlation id from the response as well please.

[2016-10-26 12:06] Mahesh-xpertech commented on #105
Ack :
Failure
ProfileID :

PayPal\PayPalAPI\CreateRecurringPaymentsProfileResponseType Object
(
    [CreateRecurringPaymentsProfileResponseDetails] => PayPal\EBLBaseComponents\CreateRecurringPaymentsProfileResponseDetailsType Object
        (
            [ProfileID] =>
            [ProfileStatus] =>
            [TransactionID] =>
            [DCCProcessorResponse] =>
            [DCCReturnCode] =>

[2016-10-26 12:07] Mahesh-xpertech commented on #105
@pp-randy
Sir Code that I am using below to create Recurring Payment with credit card info
<?php
use PayPal\CoreComponentTypes\BasicAmountType;
use PayPal\EBLBaseComponents\ActivationDetailsType;
use PayPal\EBLBaseComponents\AddressType;
use PayPal\EBLBaseComponents\BillingPeriodDetailsType;
use PayPal\EBLBaseComponents\CreateRecurringPaymentsProfileRequestDetailsType;
use PayPal\EBLBaseComponents

[2016-10-26 13:39] pp-randy commented on #105
@Mahesh-xpertech can you try now please?

[2016-10-27 05:32] Mahesh-xpertech commented on #105
@pp-randy Now this code return ack is success but transaction is not showing in the sandbox transaction list.

[2016-10-27 05:35] Mahesh-xpertech commented on #105
@pp-randy   My response is below from  paypal
Ack :
Success
ProfileID :
I-KLNS1LAJF1DG

PayPal\PayPalAPI\CreateRecurringPaymentsProfileResponseType Object
(
    [CreateRecurringPaymentsProfileResponseDetails] => PayPal\EBLBaseComponents\CreateRecurringPaymentsProfileResponseDetailsType Object
        (
            [ProfileID] => I-KLNS1LAJF1DG
            [ProfileStatus] => PendingProfile

[2016-10-27 13:33] pp-randy commented on #105
I reviewed the transaction and it is associated to your sandbox test account. You would need to log into the sandbox test account at https://www.sandbox.paypal.com.

I apologize for the confusion to provide more details the the Sandbox Transactions listed here: https://developer.paypal.com/developer/dashboard/sandbox/, these are for the REST API and the SDK for that is here: https://github.com/pay

[2016-10-27 14:05] Mahesh-xpertech commented on #105
@pp-randy  I am using direct payment of sample code but transaction is not showing in the transaction sandbox.. sir Plz help  me with any problem with following Code
<?php
use PayPal\CoreComponentTypes\BasicAmountType;
use PayPal\EBLBaseComponents\AddressType;
use PayPal\EBLBaseComponents\CreditCardDetailsType;
use PayPal\EBLBaseComponents\DoDirectPaymentRequestDetailsType;
use PayPal\EBLBaseCompo

[2016-10-27 15:05] pp-randy commented on #105
Which URL are you not seeing the transaction on?  I can see them on your sandbox account.

[2016-10-28 10:59] Mahesh-xpertech opened #124 "Direct Payment"
Hi

I am using DirectPayment method in merchant sdk php.  Merchant account credit is increasing but transaction is not showing in the list.

And Another problem is Buyer Account credit balance is not being dececreased in sandbox mode

[2016-10-28 11:38] Mahesh-xpertech commented on #105
@pp-randy
using below URL for seeing transaction but it is not listed in...
https://developer.paypal.com/developer/dashboard/sandbox/
Merchant Account is credited every time but buyer account is not debited(decreased) any single time

[2016-10-28 12:31] Mahesh-xpertech commented on #105
@pp-randy
Now the current transaction id is 93C76230BE3561808 and not listed in the transaction account.

[2016-10-28 13:15] pp-randy commented on #105
Your transactions will not show in that URL because they are not created with the REST API.  Please review this previous comment.

From here: https://github.com/paypal/merchant-sdk-php/issues/105#issuecomment-256641832

[2016-10-28 13:17] pp-randy commented on #105
If you do not know the password for your merchant sandbox account to log into https://www.sandbox.paypal.com you can change it here: https://developer.paypal.com/developer/accounts/ and then click the Profile link for that account.

[2016-11-01 15:41] pp-randy commented on #123
@hasinoorit would you be able to provide any error messaging you are getting?  A correlation id from an error response would be helpful.

[2016-11-03 14:11] #105 closed

[2016-11-03 14:16] pp-randy commented on #124
@Mahesh-xpertech Direct Payment transaction would not be associated to your buyer account and this is intended behavior; however, Express Checkout transactions would show up in the buyer account.

Can you log into https://www.sandbox.paypal.com with your sandbox merchant account and upload a screenshot of the history page so I am able to see what you are seeing?

[2016-11-07 15:12] pp-randy commented on #123
Closing due to inactivity

[2016-11-16 11:32] brilsergei opened #125 "API version is to low"
Hi
Current API version is 204, but SDK supports only 106, released on 2013-Aug-20. I need to use SoftDescriptor field added in version 115 for direct payments. Is there a way to fix it?

is the library maintained by paypal? if so, it looks strange that api updates takes so much time.

[2016-11-16 12:13] gswebspace commented on #125
Referencing a similar issue #116 I had. Maybe it can help.

(Do consider the input from the team regarding the 'SoftDescriptor' field, I am not sure about that)

[2016-11-17 14:45] sandeepwegile commented on #106
Hello Everyone

I'm also experiencing the same issue on one of my US-Business-Pro sandbox account. Whenever I try to use classic NVP api to create a recurring profile for test users under Sandbox environment, I get following error message.

I'm using following sandbox account:

rafi@mykoollook.com

Even I've tried with  support-facilitator@mykoollook.com, (again business-pro US account), still the

[2016-11-17 15:05] pp-randy commented on #106
@sandeepwegile what was your PayPal Technical Support ticket / reference number?

[2016-11-17 15:57] sandeepwegile commented on #106
Hi @pp-randy

Thanks for replying back. We (In fact our client, who's paypal account is in the question) called Paypal support over telephone. He don't know about the support ticket/reference number. Below is all the info he has,

May be it's the same issue what @sharmavikram  had with his sandbox account ?

Awaiting further help from you (and everyone else, who can help me out here... :)

Thanks

[2016-11-17 16:23] pp-randy commented on #106
In the future you can reach out to PayPal Technical Support at https://www.paypal-techsupport.com and at the bottom click Contact Support to file a ticket directly.

In either case I enabled DPRP on both rafi@mykoollook.com and support-facilitator@mykoollook.com.

[2016-11-18 05:49] sandeepwegile commented on #106
Thank you so much @pp-randy!

For future technical issues, I'll for sure refer to https://www.paypal-techsupport.com

Thanks & Regards
Sandeep

[2016-11-21 22:19] jaypatel512 commented on #125
Hey @brilsergei @gswebspace !

You are correct. We are still maintaining these repositories, however, these SDKs are under maintenance only, and are rarely updated based on security updates. From the looks of it, the field you are trying to use seems to be important, we will try and prioritize this work, and update the SDKs soon. Will update this issue once updated.

Thanks.

[2016-11-22 14:35] pp-randy commented on #124
Closing due to inactivity

[2016-11-22 14:35] #124 closed

[2016-12-08 22:02] wunag opened #126 "Cannot authorize third party."
Hi.

Now I am making the merchant system.   I want to send the money  to the owner, when customer paid to us.  To do that I use the authorize api.  So I get the token and secret token.  And how should I do?  Paypal did not send the example.

So I did like this.

$cred = new PPCertificateCredential("api-user-id", "api-password", "../cert_key.pem");

    $cred->setThirdPartyAuthorization(new PPToken

[2016-12-18 00:47] #112 closed

[2017-01-05 15:42] pp-randy commented on #126
Can you try
` $response = $paypalService->SetExpressCheckout($setECReq, $cred);`

[2017-01-12 16:55] alle commented on #123
@pp-randy I would like to re-open this issue. Same running condition as @hasinoorit.
I can give your some correlation ids (all of these are in production environment, not sandbox):
- Error: Operation timed out after 0 milliseconds with 0 out of 0 bytes received, correlation id c65b24ae6a16b
- Error: Unknown SSL protocol error in connection to api-3t.paypal.com:443, correlation id cf20c80e93ea
- Er

[2017-01-12 19:45] pp-randy commented on #123
Pinging does not work since ICMP packets are dropped.

The Error you have shows SSL protocol error.  What SSL protocol are you connecting with @alle? I advise ensuring TLS 1.2 for this  https://github.com/paypal/tls-update

[2017-01-13 08:35] alle commented on #123
I realized that ICMP packets were dropped, it wasn't a reliable evidence.
We are already using TLS 1.2, I already knew that.
Anyway, the above mentioned errors/correlation ids provided were only a sample.
Running with the same conditions, many transactions goes well, while others give that errors. There is no constant on the behaviour.
In order to be sure, I contacted my ISP, who has confirmed to

[2017-01-13 15:40] pp-randy commented on #123
@alle you're right and I apologize, I missed you saying you had correlation ids initially.  I'll look into them now.

[2017-01-13 17:00] pp-randy commented on #123
@alle if you are getting a correlation id that means you did receive a response from PayPal.  Is this the actual API response? I looked over some of the logs and it looks like these are good SetExpressCheckout calls.

[2017-01-13 17:15] pp-randy commented on #123
@alle I don't want to rule out a possible curl issue either since that seems to be the origination of the error message.

[2017-01-16 10:50] alle commented on #123
@pp-randy We use an up-to-date version of curl with TLS 1.2.
The situation seems normalized, now: we are not getting errors anymore. Meanwhile, nothing has changed on our integration.
Anyway we were getting those errors on correlation ids on the wrong point of the transaction path (you were right).
That does not exclude that those "time out" errors were there.
We reserve to check during the next d

[2017-01-17 14:52] pp-randy commented on #123
@alle I'm glad you were able to resolve.  Let me know if something comes up.

[2017-01-17 14:52] #123 closed

[2017-01-24 20:53] mohsinabba opened #127 "Fatal error: Class 'PayPalAPIInterfaceServiceService' not found"
Its a nightmare to use this SDK. I have already run install.php without composer and all 3 folders
a. paypal-merchant-sdk-php-XXXXXXX
b. paypal-permissions-sdk-php-XXXXXXX
c. paypal-sdk-core-php-XXXXXX
are there just for some reasons the "PayPalAPIInterfaceServiceService" not loaded up however i can see the class in:
root >
     vendor > paypal > paypal-merchant-sdk-php-XXXXXX >lib > PayPal > Serv

[2017-01-25 13:43] mohsinabba commented on #127
Nevermind, my bad.. i missed it use PayPal\Service\PayPalAPIInterfaceServiceService; on the page i am creating the class instance on.

[2017-01-25 13:44] #127 closed

[2017-01-25 14:08] pp-randy commented on #127
Thank you for following up @mohsinabba.

[2017-01-26 15:39] pp-randy commented on #126
Closing the issue, please let me know if the above was not a fix for you.

[2017-01-26 15:39] #126 closed

[2017-02-08 13:16] mohsinabba opened #128 "Coupon/Discount in Express Checkout"
I don't see any way to declare coupon or discount value for express checkout other than adding a item line with negative value or i missed something?

[2017-02-10 15:14] pp-randy commented on #128
Negative Line items are the way to do it
https://developer.paypal.com/docs/classic/api/merchant/SetExpressCheckout_API_Operation_NVP/
![image](https://cloud.githubusercontent.com/assets/6819909/22831755/21402972-ef71-11e6-8509-65289dfddf6e.png)

For a new integration using Express Checkout, I would advise using https://github.com/paypal/PayPal-PHP-SDK and the PayPal payments option.

[2017-02-10 15:14] #128 closed

[2017-02-10 16:54] jgj212 opened #129 "I have find a Reflected XSS vulnerability in this sdk"
Hello:
   I have find a Reflected XSS vulnerability in this sdk.

   The vulnerability exists due to insufficient filtration of user-supplied data in “token” HTTP GET parameter that will be passed to “merchant-sdk-php\samples\AccountAuthentication\GetAuthDetails.html.php”. The infected source code is line 7,  there is  no protection on _GET[‘token’]; if _GET[‘token’] contains evil js code, line 21

[2017-02-13 15:11] pp-randy commented on #129
Thank you for submitting the issue. Would you be interested in submitting a pull request to help resolve this?  If not, it is ok I will review further.

[2017-02-16 06:25] gjimish commented on #106
@pp-randy I am having the same issue. My support ticket number is 170215-000513.

Can you please update for me also?

[2017-02-16 15:09] pp-randy commented on #106
@gjimish can you try adding pro to the gmail account now?  The first account should be good.

[2017-02-16 15:15] gjimish commented on #106
@pp-randy
I am not able to upgrade to "pro". Even if you will activate for my first account, I will be happy :)

[2017-02-16 15:17] pp-randy commented on #106
Try it out and let me know.  If you need another account, create a business account but make sure you also select to add a bank account, as this helps me out when adding recurring payments :-), and helps you out when adding Pro.

[2017-02-16 15:31] gjimish commented on #106
@pp-randy
Thanks for your help. It's working and I am able to create RECURRING PAYMENT PROFILE. However it's not returning the response but I believe it not has to do anything with it.

Thank You So Much!!!!!! :)

[2017-02-16 15:48] pp-randy commented on #106
If you get stuck, create a new issue with some example source code and we will try to get it figured out.

[2017-02-21 09:52] jgj212 commented on #129
@pp-randy  i am sorry, i am not skilled at bug fixing.  You can encode the user input from the browser side,  because it is not trusted .

[2017-02-22 15:27] pp-randy commented on #129
Adding internal tracking: BTDXCLTS-283

[2017-03-09 01:49] DrHazemAli opened #134 "Reflected XSS vulnerability found in the merchant SDK."
### Issue description

There's a Reflected XSS vulnerability in the merchant SDK.
The vulnerability exists due to insufficient filtration of user-supplied data in token.
See Below!

### Proof

![alt tag](https://s18.postimg.org/ndvrfsjt5/paypal.png)

### Fixes
i've submitted a pull-request which includes fixes.

[2017-03-09 14:37] FexileTV opened #135 "Question."
Doesn't PayPal require you to use some keys?

REST API Apps?

Like Secret or something? Or is that what you mean with Password?

[2017-03-10 10:18] piazzon-f opened #136 "Broken XML produced for SetExpressCheckout request when using "cpp*" fields"
### General information

* SDK/Library version: 3.11.0
* Environment: tested only in Sandbox

### Issue description
PSR compliant linting in commit c9a15d773fcbca7f052b7524c9103889142fa552 modified the ```@name``` annotation for "cpp*" fields in [SetExpressCheckoutRequestDetailsType.php](https://github.com/paypal/merchant-sdk-php/blob/master/lib/PayPal/EBLBaseComponents/SetExpressCheckoutRequestDe

[2017-03-20 15:00] pp-randy commented on #134
This is already being tracked here: https://github.com/paypal/merchant-sdk-php/issues/129

[2017-03-20 15:00] #134 closed

[2017-03-20 19:40] pp-randy commented on #135
Sorry for the delay @FexileTV.  I think you are wanting the REST API SDK here: https://github.com/paypal/PayPal-PHP-SDK

Also this should be helpful:
https://github.com/paypal/PayPal-PHP-SDK/wiki/Making-First-Call

Sorry again for the delay.  I will close this issue, but if you need anything else let me know.

[2017-03-20 19:40] #135 closed

[2017-03-21 08:46] gerardnll commented on #136
Bug also present in 3.10.0, rolled back to 3.9.1.

[2017-03-23 09:20] speller opened #137 "Unable to use the Button Manager API calls"
The package contain classes `BMCreateButtonReq` and so on, but the `PayPalAPIInterfaceServiceService` do not contain methods fort them. The `PayPalAPIInterfaceServiceService` class in the ButtonManagerSDK package contain them, but it is impossible to use these packages simultaneously in single app because of duplicate class names. Please move the Button Manager functionality to the MerchantSDK.

A

[2017-03-23 17:17] jaypatel512 commented on #125
Recently made a release, that upated the stubs at https://github.com/paypal/merchant-sdk-php/releases/tag/v3.11.0

[2017-03-23 17:17] #125 closed

[2017-03-24 10:02] GallantGentleman opened #138 "PPAutoloader.php"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Where is "PPAutoloader.php" file ?

[2017-03-24 13:32] pp-randy commented on #138
It gets generated by the install.php in samples. I found a similar issue here: https://github.com/paypal/adaptivepayments-sdk-php/issues/21#issuecomment-171197201

For a newer integration I would recommend https://github.com/paypal/PayPal-PHP-SDK if the PayPal REST API fits your needs.

[2017-03-24 13:32] #138 closed

[2017-03-24 18:02] jaypatel512 commented on #136
Hey @piazzon-f @gerardnll ! I have created a PR fixing this. Can you please help me review it, and make sure I have not missed anything else.

[2017-03-24 18:07] jaypatel512 commented on #115
Closing this issue based on inactivity. Please re-open if you are still facing this issue.

[2017-03-24 18:07] #115 closed

[2017-03-24 18:10] jaypatel512 commented on #19
Closing this issue based on inactivity. Please re-open if you are still facing this issue. Please update the SDK to latest version.

[2017-03-24 18:10] #19 closed

[2017-03-24 18:24] #71 closed

[2017-03-24 18:24] #136 closed

[2017-03-24 18:30] pp-randy commented on #51
The details that can be updated are here: https://developer.paypal.com/docs/classic/api/merchant/UpdateRecurringPaymentsProfile_API_Operation_NVP/

Billing cycles can be changed, but not the frequency.

[2017-03-24 18:30] #51 closed

[2017-03-27 20:12] #97 closed

[2017-03-27 20:12] #137 closed

[2017-03-28 19:37] jaypatel512 commented on #97
Released [Button Manager 4.0.0](https://github.com/paypal/buttonmanager-sdk-php/releases/tag/v4.0.0). Please read the migration guide to use it with merchant SDK.

[2017-03-28 19:37] jaypatel512 commented on #137
Released [Button Manager 4.0.0](https://github.com/paypal/buttonmanager-sdk-php/releases/tag/v4.0.0). Please read the migration guide to use it with merchant SDK.

[2017-03-28 19:37] jaypatel512 commented on #112
Released [Button Manager 4.0.0](https://github.com/paypal/buttonmanager-sdk-php/releases/tag/v4.0.0). Please read the migration guide to use it with merchant SDK.

[2017-03-29 16:20] #129 closed

[2017-04-11 08:25] sellegabuya opened #143 "Paypal Vaulted Credit Cards"
Hi guys,
I would like to ask if this sdk also supports Vaulted Credit Cards.
If so, what would be the process when it comes to recurring payments?

Thanks

[2017-04-11 11:46] sellegabuya commented on #137
Hi @jaypatel512 would you mind to view this #143 ? thanks

[2017-04-11 13:45] pp-randy commented on #143
Hi @sellegabuya,

Currently recurring payments and the vaulted credit cards are not supported.  We are tracking a feature for that here https://github.com/paypal/PayPal-REST-API-issues/issues/3.

The SDK that supports vault with the PayPal REST API is the [PayPal-PHP-SDK](https://github.com/paypal/PayPal-PHP-SDK), if you are looking for PHP.

[2017-04-11 13:45] #143 closed

[2017-04-20 15:12] godzou opened #144 "Order total not displayed on Paypal Landing Page"
### General information

SDK/Library version : SDK 3.9.1
Environment : Sandbox and Production

### Issue description

Hi,
I got a problem with information displayed on the Paypal page, the SDK works perfectly (I can make an order and pay with the sandbox for example) but the total of the order does not display on the Paypal landing page and I don't understand why. I tried some different parameters

[2017-04-21 19:24] xiaoleih41 commented on #144
In your situation, you will need add `&useraction=commit` to the end of URL when you redirect the buyer to the PayPal website. This will solve both issues.

[2017-04-24 08:01] godzou commented on #144
It works ! Thanks a lot for your fast reply.

[2017-04-24 08:01] #144 closed

[2017-04-28 03:05] saber666 opened #145 "DoReferenceTransaction - Agreement Id not valid"
Hi - I created an agreement using Paypal-API. The agreement is processing recurring payments every two weeks and I have verified using the sandbox dashboard.  Due to the inability to change the amount of the billing agreement every two weeks I'd like to use the DoReferenceTransaction to charge the difference. I'm able to retrieve the agreement details using GetRecurringPaymentsProfileDetails in th

[2017-04-28 14:56] xiaoleih41 commented on #145
Recurring payment billing agreement ID cannot be used for reference transaction payment. If your billing agreement involves various amount, please use reference transaction only for your billing agreement. Please follow the instructions on [this site](https://developer.paypal.com/docs/classic/express-checkout/ec_set_up_reference_transactions/).  to build your billing agreement by using reference t

[2017-04-30 02:33] saber666 commented on #145
Thanks @xiaoleih41!

[2017-04-30 02:33] #145 closed

[2017-05-12 14:45] axay-ordex opened #146 "How impliment ACH in php"
Hello,
I want to implement ACH pay flow service in my website. but i didn't found any proper api documentation
I am new in paypal integration. can you please help me to resolve this.
Also please let me know how to implement ACH in my website. I also create account in manager.paypal.com
How can we set payment method on checkout page. like using ACH , credit card, debit card, check etc.

Thank you.

[2017-05-12 18:19] pp-randy commented on #146
Please see the following comment https://github.com/paypal/PayPal-PHP-SDK/issues/843#issuecomment-300193519.

Payflow Support ACH but I believe it needs to be approved by a sales department.

[2017-05-15 16:02] #146 closed

[2017-05-23 11:28] PriyankaAwachat commented on #77
I need to get transaction details from pay-key. Is there any method like PaymentDetailsRequest() in this SDK.

[2017-05-23 13:50] pp-randy commented on #77
@PriyankaAwachat the SDK you are looking for is https://github.com/paypal/adaptivepayments-sdk-dotnet.

[2017-05-23 13:51] pp-randy commented on #77
Locking this thread, please use the adaptivepayments-sdk repositories for Adaptive Payment SDK assistance.

[2017-05-29 12:40] Octolus opened #147 "404"
curl -k -L https://raw.githubusercontent.com/paypal/merchant-sdk-php/stable-php5.3/samples/install.php | php
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    15  100    15    0     0     73      0 --:--:-- --:--:-- --:--:--    73
404: Not Found

[2017-05-30 16:25] jaypatel512 commented on #147
Hey @Octolus !

We recommend you use [composer](https://getcomposer.org/doc/01-basic-usage.md) to install all your php dependencies, including `merchant-sdk-php`. It is now a defacto standard, and is used widely across all php packages.

We will update our README with proper instructions soon. Thanks for pointing that out. Please re-open this issue if you have trouble installing this package using

[2017-05-30 16:25] #147 closed

[2017-06-25 05:09] avinashpothula opened #149 "Paypal payament details"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

 how to get paypal payament details in my local database in java

[2017-06-26 20:37] xiaoleih41 commented on #149
Please check into [PayPal Instant Payment Notification(IPN)](https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNIntro/?mark=IPN).

[2017-06-28 06:08] avinashpothula commented on #149
thanks xiaoleih
how to store payment details in my local database in java

[2017-06-29 15:43] xiaoleih41 commented on #149
@avinashpothula The information of payment detail will be sent to your server. It's up to you to extract the info from each field and store in your database properly. We are unfortunately not in the position to assist you to this extend. Please check online Java tutorials on respective topics.

[2017-06-30 06:32] avinashpothula commented on #149
i am new to web development can you suggest me . how can i do paypal pay now or buy now button in java .can you please reply. i serached lots of  documentrys but i did not get proper answers.

[2017-06-30 13:59] pp-randy commented on #149
How about a button in JavaScript?  https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/add-paypal-button/

[2017-06-30 15:17] engharb opened #150 "Possible Bug: Class 'DoExpressCheckoutPaymentRequestDetailsType' not found"
### General information

* SDK/Library version: 3.9
* Environment: Sandbox
* `PayPal-Debug-ID` values:
* Language, language version, and OS: php7 vbox Ubuntu16.4

### Issue description

I have installed the paypal sdk. everything works well only when I start calling class ```DoExpressCheckoutPaymentRequestDetailsType```
I get the following message:
[code]

I tried to call the class by include_once

[2017-07-03 08:34] engharb commented on #68
I have installed the paypal sdk. everything works well only when I start calling class DoExpressCheckoutPaymentRequestDetailsType
I get the following message:

Class 'DoExpressCheckoutPaymentRequestDetailsType' not found

I tried to call the class by include_once also the same problem.

It will be kind of you responding soon.

Regards,

[2017-07-03 14:30] xiaoleih41 commented on #68
Merchant SDK is older version of PayPal SDK. Please look into PayPal REST SDK for the newest version of PayPal SDK.

[2017-07-06 12:36] avinashpothula commented on #149
HTTP Status 500 - AccessToken cannot be null or empty

type Exception report

message AccessToken cannot be null or empty

description The server encountered an internal error that prevented it from fulfilling this request.

exception

java.lang.IllegalArgumentException: AccessToken cannot be null or empty
	com.paypal.base.rest.PayPalResource.configureAndExecute(PayPalResource.java:286)
	com.paypa

[2017-07-06 12:36] avinashpothula commented on #149
any one help me , i am using paypal rest api

[2017-07-06 13:55] pp-randy commented on #149
Here are some instructions for making your first API call https://github.com/paypal/PayPal-Java-SDK/wiki/Making-First-Call

Your error is related to your REST API credentials.  Can you create an issue in our Java SDK repository with a code example of what you are doing https://github.com/paypal/PayPal-Java-SDK?

[2017-07-06 15:31] xiaoleih41 commented on #150
I believe I have answered your question on another thread. Please use PayPal REST SDK if it's applicable.

[2017-07-08 07:44] avinashpothula commented on #149
thank you randy for giving response my question. i followed instruction  i get AccessToken .
 but not getting responce
my responce is Response code: 500	Error response: java.lang.NullPointerException
and request is{
  "intent": "sale",
  "payer": {
    "payment_method": "paypal"
  },
  "transactions": [
    {
      "amount": {
        "currency": "USD",
        "total": "7",
        "details": {

[2017-07-08 11:31] avinashpothula commented on #149
Response code: 415	Error response: Server returned HTTP response code: 415 for URL: https://api.sandbox.paypal.com/v1/oauth2/token what was it means

[2017-07-10 14:00] pp-randy commented on #149
With a 415 I think you should review your request body and ensure you are sending a header with  `content-type=text/json`.

[2017-07-11 05:21] avinashpothula commented on #149
ok thanks randy . now its working fine . but when i use credit cards payment it shows an  error
Response code: 400	Error response: {"name":"CREDIT_CARD_CVV_CHECK_FAILED","message":"The credit card CVV check failed","information_link":"https://developer.paypal.com/docs/api/payments/#errors","debug_id":"4f331682f6e3"}

[2017-07-11 05:23] avinashpothula commented on #149
can you tell me what was that error. i give cvv no is 0123. but it does not  take that cvv . it take 83  i did not define cvv number any  where

[2017-07-11 15:05] xiaoleih41 commented on #149
cvv2 should be 3 digits for Visa and MasterCards. Please try **123** instead.

[2017-07-13 18:18] pp-randy commented on #150
Closing due to inactivity

[2017-07-13 18:18] #150 closed

[2017-07-14 05:41] avinashpothula commented on #149
https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4D8223778Y281150H#/checkout/genericError?code=UkVUUlk%3D .

[2017-07-14 05:41] avinashpothula commented on #149
https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4D8223778Y281150H#/checkout/genericError?code=UkVUUlk%3D

[2017-07-14 05:41] avinashpothula commented on #149
We’re sorry
Things don’t appear to be working at the moment.

[2017-07-14 05:42] avinashpothula commented on #149
when i give my sandbox credentials i getting thsi
any one help me how to solve this

[2017-07-14 06:45] avinashpothula commented on #149
"NetworkError: 400 Bad Request - https://www.sandbox.paypal.com/webapps/hermes/api/batch/setbuyer"

[2017-07-14 06:45] avinashpothula commented on #149
what was that error can you tell me how can  i fix that

[2017-07-14 14:01] pp-randy commented on #149
You need to use a different account as a buyer account.  The account I see being used is the same receiving the payment.

[2017-07-16 06:57] avinashpothula commented on #149
thankes randy for responding my issues

[2017-07-16 07:01] avinashpothula commented on #149
i did not fix that problem i giving my client id and secret id still i getting same issue. where do i change merchant credentials . tell me  how can i fix this issue

[2017-07-16 16:35] avinashpothula commented on #149
Paypal Java SDK - how do I configure the .properties File?

[2017-07-17 13:52] #149 closed

[2017-07-19 06:43] avinashpothula commented on #149
hi randy

[2017-07-19 06:44] avinashpothula commented on #149
my sdk config properies

acct1.CertPath=src/test/resources/sdk-cert.p12
acct1.CertKey=password
acct1.AppId= APP-80W284485P519543T
#acct1.UserName = certuser_biz_api1.paypal.com
acct1.UserName =exaact.test-facilitator_api1.gmail.com
acct1.Password=QVGRELNVTRJW8CR9
acct1.Signature =AFcWxV21C7fd0v3bYYYRCpSSRl31AESi3WLKIdTEilJ8dD07IPl.99yP
acct1.AppId= APP-80W284485P519543T

# Connection Information
h

[2017-07-19 13:47] pp-randy commented on #149
Where is that error being returned?

[2017-07-20 13:15] avinashpothula commented on #149
Request URL:https://www.sandbox.paypal.com/webapps/hermes/api/batch/setbuyer
Request Method:POST
Status Code:400 Bad Request
Remote Address:173.0.82.77:443
Referrer Policy:no-referrer-when-downgrade
Response Headers
view source
Cache-Control:no-cache
Content-Encoding:gzip
Content-Security-Policy:default-src 'self' https://nexus.ensighten.com http://localhost.paypal.com:* https://*.paypal.com http:

[2017-07-20 13:15] avinashpothula commented on #149
please tell me how can i fix this . i did not any idea about this

[2017-07-20 14:33] pp-randy commented on #149
Will work with you on the other issue you created.

[2017-07-25 08:14] jackttcoms opened #151 "how would you go about doing a commission fee?"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Im trying to build a simple digital script and want to charge a commission fee how do i go about doing this?

thanks

[2017-07-25 15:16] xiaoleih41 commented on #151
PayPal has quite a few different options for this type of business functions with different compliance and pricing nuances. I would suggest you to contact the customer service number listed on your account and request to talk to a sales rep. The sales rep should be able to work with you to show you the best flow with best pricing for your specific business situation and engage integration resource

[2017-07-29 20:33] #151 closed

[2017-08-21 14:50] pp-randy commented on #106
@Nett I don't see the pro upgrade worked.  Does it still give you the option?

[2017-08-22 07:49] Nett commented on #106
Hello @pp-randy , thank you for reply)
Yes, it still returns 'DPRP is disabled for this merchant' when try to create recurring payment.
Here are the settings for oleg.malij@seosamba.com sandbox account.
Account Type: Business-Pro
Status: Verified
Country: US

Thank you.

[2017-08-22 14:02] pp-randy commented on #106
Can you create a new Sandbox Business account?  This one does not have an address and most likely had some issues during creation.  Use the Developer Dashboard https://developer.paypal.com/developer/accounts/ to create it and submit the Pro request from the profile here on the account as well.

I apologize for the inconvenience.

[2017-08-22 14:48] Nett commented on #106
No problem @pp-randy )
Here is a new one 'oleg.biz@seosamba.com'. And I didn't see any 'address' fields during account creation process.
If this one also does not work too, could you please reset/remove all transactions and recurring payments from this account 'pros_1308148513_biz@seosamba.com' ? Due to huge number of operations a 'history' tab under merchant's sandbox returns 500 error. Resetting

[2017-08-23 14:18] pp-randy commented on #106
@Nett I'm still having issues with your new account's configuration and need to follow up further internally.

Do you already have approval to integrate Direct Payment Recurring Payments on live?  If so, I think its best you also open an incident with PayPal Technical Support here https://www.paypal-techsupport.com/app/ask/.

[2017-08-23 14:45] pp-randy commented on #106
For Internal Tracking: PPGOPS-12283

[2017-09-20 06:18] kpranav1995 commented on #106
Hello,
I need help regarding the implementation of paypal monthly based subscription
whenever i try to pay using CC it will show me a error
{"name":"DPRP_DISABLED","message":"DPRP is disabled for this merchant.","information_link":"https://developer.paypal.com/docs/api/payments.billing-agreements#errors","debug_id":"a4bfc2119c1e4"}
please look at here and help me
Thanks

[2017-09-20 16:49] xiaoleih41 commented on #106
I don't think direct credit card processing is available in India. You may change to a US account to do the testing. Also, PayPal has deprecated REST API direct credit card processing. We would you encourage you to use [Braintree SDK](https://developers.braintreepayments.com/start/overview) instead for direct credit card processing.

[2017-09-29 05:15] kpranav1995 commented on #106
I am using the US account and update the sandbox to pro and after that i am still getting the error.

[2017-09-29 14:57] xiaoleih41 commented on #106
Direct credit card processing feature for REST API has been deprecated. Please consider to use Braintree SDK from braintreepayments.com instead for this business feature.

[2017-10-07 19:27] krwags commented on #118
When I run composer on this merchantSDK, it's doesn't place the core files and the merchant sdk in the same place and the autoloader can't find the core.

Why is this so difficult to install?

[2017-10-09 06:20] ctipggroup opened #152 "Please create new release with latest fixes"
### General information

* SDK/Library version: v3.11.0
* Environment: Production
* Language, language version, and OS: PHP

### Issue description

Please create a new release including all changes made after v3.11.0. I'm trying to get the fix for https://github.com/paypal/merchant-sdk-php/commit/0ac6c2c084750ff1b4dec0a668edfa0e9acaf01d using composer without reverting to using an earlier version.

[2017-10-10 17:53] xiaoleih41 commented on #152
We are working on this.

[2017-10-11 15:21] bluk commented on #152
[v3.12.0](https://github.com/paypal/merchant-sdk-php/releases/tag/v3.12.0) was released yesterday. Thanks for your patience.

[2017-10-11 15:21] #152 closed

[2017-10-12 15:54] xiaoleih41 commented on #118
Is there a specific reason you want to use this SDK? As we are deprecating NVP/SOAP API. I would strongly recommend you to use our [REST SDK](https://github.com/paypal/PayPal-PHP-SDK) instead. Please follow the instruction and you should be able to download the SDK with all required files.

[2017-11-16 21:40] ebald opened #153 "File PPAutoloader.php missing."
### General information

* SDK/Library version :3.12.0
* Environment: Running samples
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Warning: require(PPAutoloader.php): failed to open stream: No such file or directory.

[2017-11-16 22:10] pp-randy commented on #153
Did you install the SDK with composer? https://github.com/paypal/merchant-sdk-php#running-the-sample

[2017-11-16 22:29] ebald commented on #153
Yes I did, but the file is missing anyway. The way to avoid this message is modifying the PPBootstrap.php with something like this:

if(file_exists( dirname(__FILE__). '/vendor/autoload.php')) {
require 'vendor/autoload.php';
} else {
echo "Please, install the SKD with composer first.";
}

[2017-11-16 22:50] pp-randy commented on #153
Did composer give you `/vendor/autoload.php` and are you able to move forward?

What is your use case?  I would advise the REST API SDK if you are able to use it https://github.com/paypal/PayPal-PHP-SDK.

[2017-11-16 23:11] ebald commented on #153
Yes, with composer works great. I need to use this because I've a Paypal PRO account, and need features that aren't in the Paypal PHP SDK.

About this bug report, I suggest that the reference for a file that isn't into the package could be confusing for first time users. It's just a suggestion, thank you for your time!

[2017-11-17 14:49] pp-randy commented on #153
I agree @ebald, are you interested in submitting a pull request for your fix?

[2017-11-17 18:48] jaypatel512 commented on #153
@ebald ! The `PPBootstrap.php` file is used for Sample purposes only. The idea here is to demonstrate how to load the package into your application. I would recommend removing reference to PPBootstrap from your application, as it might change/break/removed in future revisions.

[2017-11-18 06:55] ebald commented on #153
@pp-randy I'll submit a pull request.

@jaypatel512 I think that the samples are great to know how to implement this software. Probably with a little modification to the PPBootstrap.php will be enough to avoid future problems.

[2017-11-24 13:14] hsharma-lsquared commented on #106
I am getting same issue "DPRP is disabled for this merchant", i already have enabled Pro feature on my Sandbox account (Please check highlighted account in attached image), i am using Billing Plan and Agreement API (REST API) for creating recurring profile with Credit Card.

![capture](https://user-images.githubusercontent.com/16423489/33212056-4bf5a49a-d147-11e7-976e-1e3e5c598512.PNG)

[2017-11-27 17:21] pp-randy commented on #106
@hsharma-lsquared are you approved to use the feature on live?  If so, I will certainly enable the sandbox account for you.  I don't want you to waste your time if you can't go live with this.

[2017-11-28 05:59] hsharma-lsquared commented on #106
Yes, please enable this feature for highlighted Sandbox account (harish.sharma.paypal@gmail.com),

[2017-11-29 05:57] hsharma-lsquared commented on #106
I read somewhere that Payment pro available in accounts which are located in US, UK, or CA, then whats the issue, Can i know?

[2017-11-29 18:12] pp-randy commented on #106
@hsharma-lsquared I created a new issue for tracking the issue since I am not able to enable the feature in sandbox https://github.com/paypal/PayPal-REST-API-issues/issues/167

[2017-11-29 18:12] pp-randy commented on #106
Locking the thread, please follow https://github.com/paypal/PayPal-REST-API-issues/issues/167 for further updates.

[2017-12-04 15:58] pp-randy commented on #153
Closing due to inactivity

[2017-12-04 15:58] #153 closed

[2018-02-12 13:53] Bgcreate opened #155 "Can not force users to pay without need of paypal registration but using credit card only"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

Hi there,
Despite that i am setting the following lines bellow it still redirects some of the users to the paypal signup page instead of the guest checkout page where you can pay without registration. Is there any way to force the clients to alway

[2018-02-12 19:00] xiaoleih41 commented on #155
Guest checkout is only for new users who do not have PayPal account. You cannot force people to use guest checkout if they already have a PayPal account. Once they hit certain usage threshold, login into their account will be the only option.

[2018-02-12 19:00] #155 closed

[2018-03-31 02:59] dhirnitish commented on #41
I am trying to get a BAID and i need to pass ACTION=X. Is there anyway i can do it using the above reference?

[2018-05-26 15:36] factorin-j opened #156 "SSL peer handshake failed"
<img width="1049" alt="screen shot 2018-05-26 at 11 37 07 pm" src="https://user-images.githubusercontent.com/2919310/40577820-c588b8a2-613d-11e8-9601-d4079971187e.png">
I installed this to symfony via composer but I always get SSL error.
Is there any settings that should be configured for this to work?

[2018-06-07 15:12] theyough commented on #156
i get the same error

[2018-06-20 13:21] michabbb opened #157 "multiple accounts in config"
[the config](https://github.com/paypal/merchant-sdk-php/blob/master/samples/Configuration.php#L38) says, i am able to add many "acctX" in my config, but i haven´t seen any example that says "use account number 2" for example. so how does the framework know which account needs to be used ?? thanks.

[2018-11-14 18:22] denismachado commented on #92
Im facing the same issue. Did anybody get around it?

[2018-11-28 17:35] tomwhipple commented on #92
@denismachado Unfortunately I'm not responsible for this product anymore... I'd recommend you reach out to support for a quicker answer: https://www.paypal-support.com/

[2019-09-25 21:40] suadhuskic opened #158 "How I can utilize idempotent requests ?"
### General information

* SDK/Library version: 3.9.1
* Environment: SandBox

### Issue description

I woud like to use idempotent requests to help protect from network issues. I have not been able to find any documentation here on how to do so.
Reference:
https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECRelatedAPIOps/?mark=idempotency#api-idempotency

[2019-10-11 16:09] #158 closed

[2019-10-11 16:10] suadhuskic opened #160 "Inform retry attempts"
### General information
I'd like to add in logic to inform clients when retry attempts occur, can i get push access ?

[2020-03-18 15:55] james-mckinnon opened #161 "Deprecation Warning on Composer v1.10.0"
### General information

* SDK/Library version: 3.12.0
* Environment: Both
* Language, language version, and OS: PHP v7.4.3 on Ubuntu 19.10

### Issue description

I updated Composer to it's most recent version earlier (v1.10.1) and have been getting a deprecation warning ever since:
[code]
I've looked through the release notes on Composer and found that they added the deprecation warning in [v1.1

[2020-04-05 07:44] santanucispl opened #162 "How to generate billing agreement id"
Reference transaction is enabled in my account but could not found any reference how to do one click upsell.

[2020-04-21 11:35] victormln commented on #161
If you're interested on solve this, you have here a PR: https://github.com/paypal/merchant-sdk-php/pull/163

[2020-04-23 19:04] jaypatel512 commented on #161
Hey @james-mckinnon !

You are absolutely right. We may have to create a new class and deprecate this class to make sure it is backward compatible. @victormln I see that in your PR you have renamed the class. I believe this may cause older integration to fail if we merge this and release, unless we do a major release with new version. Thoughts ?

[2020-06-10 03:37] mercuryPP opened #165 "what's the redirect-url for live?"
the ExpressCheckout sample work great for sandbox environment.

Just wondering if I wanna it **go live**, what is the redirect-url($payPalURL)?

SetExpressCheckout.php    line 195:
		`$payPalURL = 'https://www.sandbox.paypal.com/webscr?cmd=_express-checkout&token=' . $token;`

DGSetExpressCheckout.php     line 121:
	`echo "<br><br><br><br><br><br><br><br><a href=https://www.sandbox.paypal.com/inco

[2020-09-18 19:31] stilliard opened #166 "Usage of sdk-core-php results in E_DEPRECATED warnings"
### General information

* SDK/Library version: latest
* Environment: production

### Issue description

Hey :wave:

This repo uses [paypal/sdk-core-php](https://github.com/paypal/sdk-core-php) in the [composer file](https://github.com/paypal/merchant-sdk-php/blob/master/composer.json#L16) which appears to be deprecated / archived by paypal.

As this repo isn't yet marked as deprecated / archived,

[2020-09-21 14:52] hahazyb201 commented on #166
When will this pull request be merged into the paypal/sdk-core-php? https://github.com/paypal/sdk-core-php/pull/117 . I am having the same issue which breaks my unit tests in php 7.4.

[2020-10-21 00:04] negotiamini commented on #166
same here,  guess we're on our own!

[2020-10-26 11:06] BafS commented on #166
We did a fork there: https://github.com/ProtonMail/sdk-core-php

Available on packagist too: https://packagist.org/packages/protonlabs/paypal-sdk-core-php

[2020-11-09 07:56] peter-parkerr commented on #89
@jeff1985
Hi, I've tried  to set NotifyURL in DoExpressCheckout method. But still no IPN delivered.
while the IPN call back URL is working fine on IPN simulator
Can you please help me to resolve this.
Thanks

[2020-11-16 17:05] pyrou commented on #166
ping @bluk (as you are the last known merger of the paypal/sdk-core-php repo)

[2020-11-16 17:40] bluk commented on #166
@pyrou Sorry, I have not worked at PayPal for some time. My recommendation is to contact PayPal technical support ( https://developer.paypal.com/support/ ).

[2020-11-17 22:40] stilliard commented on #166
Hi @bluk,
Thanks anyway.

For anyone else on this thread or finding this later:

I reached out to PayPal technical support, thinking maybe the current devs are busy working on other projects atm.
Here's their reply:

They closed off the ticket, I replied asking if there's anyone they can send the request onto but as it's closed I'm not expecting a reply. Feel free for anyone else to try chasing up

[2021-05-05 04:36] KhaiNQ9x opened #169 "PayPal error code 10626 (Transaction refused due to risk model)"
This issue seems just appeared lately as it worked fine before.
I am not sure whats missing in the code.

I keep getting an error with Sanbox mode:

PayPal\PayPalAPI\DoDirectPaymentResponseType Object
(
    [Amount] => PayPal\CoreComponentTypes\BasicAmountType Object
        (
            [currencyID] => USD
            [value] => 900.00
        )

    [AVSCode] =>
    [CVV2Code] =>
    [Transacti

[2021-06-03 03:48] vicn1222 opened #170 "Can't change subscription BillingPeriod"
I follow example on UpdateRecurringPaymentsProfile.php and found that the BillingFrequency and BillingPeriod won't change.

The original subscription is monthly payment at $10/month.

Now I want to change to each 12 months at $100. The amount is changed, but it still charges on monthly basis, not 12 months.

Bellow is the code

    $paymentBillingPeriod =  new BillingPeriodDetailsType;
    $paymen

[2021-09-07 04:56] JamieSlome opened #171 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-11-08 18:55] kuldiph opened #172 "Is PayPal NVP/SOAP API Down? Unable to Invoke CreateRecurringPaymentsProfile Method."
We have tried PayPal Technical Support but have not heard back or they just close out our case.

### General information

* SDK/Library version: Postman
* Environment: Both Sandbox and Production
* `PayPal-Debug-ID` values:
* PayPal MTS Case Number 09711379

### Issue description

Unable to Invoke CreateRecurringPaymentsProfile and other methods using NVP/SOAP API. We are seeing 501 Errors.
![imag

[2021-11-25 03:48] originalboy opened #173 "{ "id": "2GG279541U471931P", "status": "COMPLETED", "links": [ { "rel": "self", "method": "GET", "href": "https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P" }, { "rel": "refund", "method": "POST", "href": "https://api-m.paypal.com/v2/payments/captures/2GG279541U471931P/refund" }, { "rel": "up", "method": "GET", "href": "https://api-m.paypal.com/v2/payments/authorizations/0VF52814937998046" } ] }"

[2021-11-25 23:15] #173 closed

[2022-02-13 12:49] uuf6429 opened #175 "Is this project active?"
Is this SDK/library still active?

The [wiki](https://github.com/paypal/sdk-core-php/wiki/Configuring-the-SDK) links point to a deprecated project (sdk-core-php), doc links are broken and the last updates to this repository are from years ago.

Additionally, the PayPal Developer Center doesn't mention this SDK and at the same time this SDK seems to be using SOAP, while the Dev Center is all about

[2022-05-17 07:55] fenix20113 commented on #172
Hi, is there any update on this? I am getting the same error.

[2022-06-03 11:17] patie commented on #175
@uuf6429 no its not, this SDK handle deprecated API and its not available for new customers. You should use new API which doesnt have official PHP SDK under active development at this moment.

[2022-09-09 22:47] devchristina commented on #175
Apologies for the challenges this unmanaged repo has created, we're officially archiving this repo and closing the open PRs.

[2022-09-09 22:47] #175 closed

[2022-09-09 22:50] devchristina commented on #172
@fenix20113 apologies for any issues, we're closing this pr due to lack of support. If you're still facing issues please submit a ticket with [Merchant Technical Support](https://www.paypal-support.com/s/?language=en_US).

[2022-09-09 22:50] #172 closed

[2022-09-09 22:51] devchristina commented on #171
Thank you, @JamieSlome. We're going to be archiving this repo due to a lack of support. Appreciate your advocacy about ensuring we're following best practices for security.

[2022-09-09 22:51] #171 closed

[2022-09-09 22:52] devchristina commented on #170
Closing due to lack of support.

[2022-09-09 22:52] #170 closed

[2022-09-09 22:52] devchristina commented on #169
Closing due to lack of support.

[2022-09-09 22:52] #169 closed

[2022-09-09 22:54] devchristina commented on #166
Closing due to lack of support

[2022-09-09 22:54] #166 closed

[2022-09-09 22:55] devchristina commented on #165
Closing due to lack of support, repo will be archived.

[2022-09-09 22:55] #165 closed

[2022-09-09 22:55] devchristina commented on #162
Closing due to lack of support, repo will be archived.

[2022-09-09 22:55] #162 closed

[2022-09-09 22:56] devchristina commented on #161
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:56] #161 closed

[2022-09-09 22:56] devchristina commented on #160
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:56] #160 closed

[2022-09-09 22:56] devchristina commented on #157
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:56] #157 closed

[2022-09-09 22:56] devchristina commented on #156
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:56] #156 closed

[2022-09-09 22:57] devchristina commented on #99
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:57] #99 closed

[2022-09-09 22:57] devchristina commented on #93
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:57] #93 closed

[2022-09-09 22:57] devchristina commented on #92
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:57] #92 closed

[2022-09-09 22:57] devchristina commented on #90
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:57] #90 closed

[2022-09-09 22:57] devchristina commented on #89
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:57] #89 closed

[2022-09-09 22:58] devchristina commented on #79
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:58] #79 closed

[2022-09-09 22:58] devchristina commented on #41
Closing due to lack of support, this repo will be archived.

[2022-09-09 22:58] #41 closed